# TODO:

* Factor this
* Put it into the real python code so we can quiz people about battle outcomes (which need actual damage done)
* This code disagrees with pvpivs for the stat product, and it's because of floating point differences. The relative rankings will be the same.
* Put something in that makes it easier to switch between level 50 and level 40 as max

So far, I've put in at least some info on the following mons:

* Walrein
* Venusaur
* Swampert
* Jumpluff
* Deoxys (Defense)
* Dewgong
* Sandslash
* Whimsicott
* Registeel
* Azumarill
* Araquanid
* Golem
* Marowak
* Obstagoon
* Linoone (Galarian)
* Medicham
* Dunsparce
* Stunfisk (Galarian)
* Lickitung
* Toxapex
* Toxicroak
* Trevenant

You run the below cells, and then replace e.g. 'Trevenant' with the mon you're interested in

It shows you all of the relevant things that are Trevenant ... or that you can evolve to Trevenant.

In [8]:
import pvprankings
import pandas as pd
import importlib
importlib.reload(pvprankings)
df = pd.read_csv('poke_genie_export.csv')

In [11]:
df = pd.read_csv('poke_genie_export.csv')
pvprankings.display_rs_info(df,'Greninja')

# Greninjas you have, according to the Swag Man

Check out the article [here](https://gamepress.gg/pokemongo/greninja-pvp-iv-deep-dive)!

Check out the videos: [here](https://www.youtube.com/watch?v=fkWByvRz44M&t=118s)!

Extra Tips:
For GL:

    * 140.51, 141.09, 141.38 are notable Atk BPs for Toxapex, Swampert, and Lanturn respectively See guide for details

    * 99.36 Def covers 121.9 Atk Froslass

    * 11356+ Bulk Product may cover the Diggersby 0-0

    * 110 HP is the absolute bare minimum recommendation if you have limited options

For UL:

    * Higher Def is more likely to handle the SC Giratina 2-2 and Shadow Machamp 1-0 (~131.48)

    * Higher Atk weights may get a Breakpoint to 1-1 some Cresselia

Full list of GL atk benefits:

    *     139.04, Pelipper 1-1 consistency (Hydro Cannon BP)

    *     139.33, Bastiodon 0-0 consistency (HC BP) & Togedemaru 1-1 (WS BP)

    *     139.59, Powder Snow Alolan Ninetales 2-2 (HC BP)

    *     140.08, Azumarill 2-1 (WS BP)

    *     140.27, Toxicroak 1-0 (WS BP)

    *     140.51, Toxapex 1-0 (NS BP)

    *     141.09, Swampert 1-1 potential (WS BP)

    *     141.38, Water Gun Lanturn 1-1 (NS BP)

    *     144.3, Skarmory 1-1 (WS BP)

    *     144.6, Shadow Alolan Sandslash 1-1 (WS BP)

## Great League

### GL- Bulk Focus (99.61 Def, 115 HP)

,CP,max CP,level,attack,defense,stamina,a,d,s,statprod,blkprod
22,255,1497,21.5,138.127119,100.343468,117,0.0,10.0,13.0,1621638,11740
27,622,1497,21.5,138.127119,100.343468,117,0.0,10.0,13.0,1621638,11740
25,409,1488,21.0,136.511078,102.230269,116,0.0,15.0,14.0,1618845,11858
35,1500,1500,20.5,139.714267,99.795905,115,8.0,13.0,15.0,1603434,11476
31,986,1479,21.0,136.511078,101.005955,116,0.0,13.0,14.0,1599458,11716
32,1483,1483,21.0,136.511078,101.005955,116,0.0,13.0,15.0,1599458,11716
4,117,1479,21.0,137.735393,99.781640,115,2.0,11.0,13.0,1580498,11474
30,842,1474,21.0,136.511078,99.781640,116,0.0,11.0,15.0,1580070,11574

### GL- Azu Slayer (140.08 Atk, 99.36 Def, 111 HP)

,CP,max CP,level,attack,defense,stamina,a,d,s,statprod,blkprod
23,261,1497,21.0,140.796179,101.005955,112,7.0,13.0,7.0,1592780,11312
33,1499,1499,21.0,141.408336,100.393797,112,8.0,12.0,7.0,1590010,11244
1,38,1495,21.5,140.604736,100.962872,112,4.0,11.0,5.0,1589936,11307
11,305,1491,21.0,140.184022,101.618112,111,6.0,14.0,6.0,1581221,11279
26,595,1497,22.5,141.303759,100.750214,111,0.0,7.0,0.0,1580238,11183
7,185,1492,22.0,140.351030,100.250736,112,1.0,8.0,4.0,1575872,11228
12,414,1492,20.0,140.986400,99.765800,112,13.0,15.0,12.0,1575349,11173
24,274,1497,20.0,142.181200,99.765800,111,15.0,15.0,10.0,1574515,11074
9,277,1494,20.0,141.583800,99.765800,111,14.0,15.0,11.0,1567899,11074
6,166,1487,21.5,140.604736,100.343468,111,4.0,10.0,4.0,1566073,11138
15,519,1492,22.0,141.604165,99.624169,111,3.0,7.0,2.0,1565898,11058

### GL - stupid hi atk not filtered for bulk

,CP,max CP,level,attack,defense,stamina,a,d,s,statprod,blkprod
16,522,1500,22.0,143.483866,95.864766,114,6.0,1.0,6.0,1568075,10928
10,297,1497,21.5,144.940564,97.865851,109,11.0,6.0,0.0,1546135,10667
14,513,1485,21.5,146.179373,94.768831,109,13.0,1.0,0.0,1510004,10329

### GL - STUPID hi atk not filtered for bulk

,CP,max CP,level,attack,defense,stamina,a,d,s,statprod,blkprod
10,297,1497,21.5,144.940564,97.865851,109,11.0,6.0,0.0,1546135,10667
14,513,1485,21.5,146.179373,94.768831,109,13.0,1.0,0.0,1510004,10329

### GL - hi atk not filtered for bulk

,CP,max CP,level,attack,defense,stamina,a,d,s,statprod,blkprod
8,237,1499,22.0,139.724463,102.757004,112,0.0,12.0,3.0,1608058,11508
35,1500,1500,20.5,139.714267,99.795905,115,8.0,13.0,15.0,1603434,11476
34,1500,1500,22.0,139.724463,103.383572,111,0.0,13.0,2.0,1603418,11475
23,261,1497,21.0,140.796179,101.005955,112,7.0,13.0,7.0,1592780,11312
33,1499,1499,21.0,141.408336,100.393797,112,8.0,12.0,7.0,1590010,11244
1,38,1495,21.5,140.604736,100.962872,112,4.0,11.0,5.0,1589936,11307
29,830,1487,21.5,139.365927,97.246447,117,2.0,5.0,13.0,1585682,11377
11,305,1491,21.0,140.184022,101.618112,111,6.0,14.0,6.0,1581221,11279
26,595,1497,22.5,141.303759,100.750214,111,0.0,7.0,0.0,1580238,11183
7,185,1492,22.0,140.351030,100.250736,112,1.0,8.0,4.0,1575872,11228
12,414,1492,20.0,140.986400,99.765800,112,13.0,15.0,12.0,1575349,11173
24,274,1497,20.0,142.181200,99.765800,111,15.0,15.0,10.0,1574515,11074
5,140,1485,21.5,139.365927,99.724064,113,2.0,9.0,8.0,1570489,11268
16,522,1500,22.0,143.483866,95.864766,114,6.0,1.0,6.0,1568075,10928
9,277,1494,20.0,141.583800,99.765800,111,14.0,15.0,11.0,1567899,11074
6,166,1487,21.5,140.604736,100.343468,111,4.0,10.0,4.0,1566073,11138
15,519,1492,22.0,141.604165,99.624169,111,3.0,7.0,2.0,1565898,11058
13,481,1487,21.0,142.020494,97.945168,112,9.0,8.0,7.0,1557944,10969
0,11,1480,21.5,140.604736,94.149426,117,4.0,0.0,14.0,1548829,11015
10,297,1497,21.5,144.940564,97.865851,109,11.0,6.0,0.0,1546135,10667
2,90,1467,21.0,139.571864,96.108696,115,5.0,5.0,12.0,1542618,11052
21,104,1478,22.0,141.604165,97.744468,111,3.0,4.0,2.0,1536353,10849
14,513,1485,21.5,146.179373,94.768831,109,13.0,1.0,0.0,1510004,10329

## Ultra League

### UL- Bulk Focus (130.62 Def, 149 HP)

,CP,max CP,level,attack,defense,stamina,a,d,s,statprod,blkprod
31,986,2497,41.0,177.351902,131.224502,151,0.0,13.0,14.0,3514210,19814
25,409,2496,40.5,176.795285,132.398263,150,0.0,15.0,14.0,3511108,19859
28,771,2500,41.5,177.909403,132.434802,149,0.0,14.0,11.0,3510648,19732
32,1483,2488,40.5,176.795285,130.812655,151,0.0,13.0,15.0,3492186,19752
36,2121,2490,40.5,178.380893,130.812655,149,2.0,13.0,12.0,3476837,19491

### This list is also solid (132.53 Def, 147 HP), but 149 HP is safer

Empty DataFrame
Columns: [CP, max CP, level, attack, defense, stamina, a, d, s, statprod, blkprod]
Index: []

In [6]:
df = pd.read_csv('poke_genie_export.csv')
pvprankings.display_rs_info(df,'Tapu Fini')

# Tapu Finis you have, according to the Swag Man

Check out the article [here](https://gamepress.gg/pokemongo/tapu-fini-pvp-iv-deep-dive#topic-445576)!

Check out the videos: [here](https://www.youtube.com/watch?v=4b_RuJMUFpI)!

Extra Tips:
For GL:

        * Higher Def > Higher HP, unless the HP is 110+
        * You can thrift down to 105 HP if youâ€™re tired of trading for Tapu Fini

For UL

        * 142 HP is notably better and only available through trading
        * 147.59 Atk gets Poliwrath CMP (1-2) and an Aurorus Breakpoint (0-1)
        * 149.39 Atk gets an Alolan Ninetales Breakpoints, enabling the 0-1 and 1-2 vs Powder

## Great League

### OMG beat medi (153.91 Def, 110 HP)

Empty DataFrame
Columns: [CP, max CP, level, attack, defense, stamina, a, d, s, statprod]
Index: []

### General Good (153.91 Def, 107 HP)

Empty DataFrame
Columns: [CP, max CP, level, attack, defense, stamina, a, d, s, statprod]
Index: []

### Thrift 105 HP (153.91 Def, 105 HP)

Empty DataFrame
Columns: [CP, max CP, level, attack, defense, stamina, a, d, s, statprod]
Index: []

### all

,CP,max CP,level,attack,defense,stamina,a,d,s,statprod
26,1490,1490,20.0,115.8956,158.311,104,5.0,11.0,3.0,1908145
24,1490,1490,20.0,115.8956,158.311,104,5.0,11.0,3.0,1908145
21,1490,1490,20.0,115.8956,158.311,104,5.0,11.0,3.0,1908145
2,1613,10,20.0,0.0000,0.000,0,15.0,10.0,14.0,0
3,1989,10,25.0,0.0000,0.000,0,12.0,15.0,11.0,0
4,1604,10,20.0,0.0000,0.000,0,15.0,13.0,10.0,0
5,1573,10,20.0,0.0000,0.000,0,10.0,10.0,14.0,0
6,1580,10,20.0,0.0000,0.000,0,11.0,14.0,11.0,0
7,1579,10,20.0,0.0000,0.000,0,10.0,12.0,14.0,0
16,1591,10,20.0,0.0000,0.000,0,14.0,11.0,10.0,0
9,1580,10,20.0,0.0000,0.000,0,11.0,14.0,11.0,0
10,1609,10,20.0,0.0000,0.000,0,15.0,13.0,11.0,0
11,1608,10,20.0,0.0000,0.000,0,15.0,10.0,13.0,0
12,1593,10,20.0,0.0000,0.000,0,13.0,13.0,11.0,0
13,1587,10,20.0,0.0000,0.000,0,14.0,7.0,12.0,0
14,1590,10,20.0,0.0000,0.000,0,13.0,12.0,11.0,0
15,1595,10,20.0,0.0000,0.000,0,14.0,11.0,11.0,0
8,1985,10,25.0,0.0000,0.000,0,10.0,15.0,14.0,0
17,1528,10,20.0,0.0000,0.000,0,11.0,5.0,5.0,0
18,1545,10,20.0,0.0000,0.000,0,15.0,5.0,2.0,0
32,1605,10,20.0,0.0000,0.000,0,13.0,14.0,13.0,0
31,1580,10,20.0,0.0000,0.000,0,11.0,14.0,11.0,0
30,1573,10,20.0,0.0000,0.000,0,10.0,10.0,14.0,0
29,1604,10,20.0,0.0000,0.000,0,15.0,13.0,10.0,0
28,1584,10,20.0,0.0000,0.000,0,12.0,11.0,12.0,0
27,1594,10,20.0,0.0000,0.000,0,12.0,13.0,13.0,0
1,1524,10,20.0,0.0000,0.000,0,7.0,4.0,12.0,0
0,1897,10,25.0,0.0000,0.000,0,5.0,10.0,10.0,0
23,1548,10,20.0,0.0000,0.000,0,8.0,14.0,9.0,0
22,1572,10,20.0,0.0000,0.000,0,11.0,7.0,14.0,0
20,1557,10,20.0,0.0000,0.000,0,7.0,11.0,15.0,0
19,1517,10,20.0,0.0000,0.000,0,7.0,6.0,9.0,0
25,1551,10,20.0,0.0000,0.000,0,15.0,7.0,2.0,0
33,1595,10,20.0,0.0000,0.000,0,14.0,11.0,11.0,0

## Ultra League

### Better HP (198.9 Def, 142 HP)

Empty DataFrame
Columns: [CP, max CP, level, attack, defense, stamina, a, d, s, statprod]
Index: []

### Poli and Aurorus Atk (147.49 Atk, 198.9 Def, 139 HP)

,CP,max CP,level,attack,defense,stamina,a,d,s,statprod
20,1557,2491,34.0,148.114358,200.256657,141,7.0,11.0,15.0,4182184
0,1897,2485,35.5,148.310297,201.824321,139,5.0,10.0,10.0,4160634
7,1579,2488,33.0,149.202447,199.436437,139,10.0,12.0,14.0,4136140

### Also A9 Atk (149.39 Atk, 198.9 Def, 139 HP)

Empty DataFrame
Columns: [CP, max CP, level, attack, defense, stamina, a, d, s, statprod]
Index: []

### General Good (198.9 Def, 139 HP)

,CP,max CP,level,attack,defense,stamina,a,d,s,statprod
20,1557,2491,34.0,148.114358,200.256657,141,7.0,11.0,15.0,4182184
0,1897,2485,35.5,148.310297,201.824321,139,5.0,10.0,10.0,4160634
7,1579,2488,33.0,149.202447,199.436437,139,10.0,12.0,14.0,4136140

In [5]:
df = pd.read_csv('poke_genie_export.csv')
pvprankings.display_rs_info(df,'Noctowl')

# Noctowls you have, according to the Swag Man

Check out the article [here](https://gamepress.gg/pokemongo/noctowl-pvp-iv-deep-dive)!

Check out the videos: [here](https://www.youtube.com/watch?v=sdagO7Z8p6w&t=85s)!

Extra Tips:
        People use slight atk and azu slayer primarily. not a9 slayer.

        For Atk:

            * Rank 24 >= Rank 4 > Rank 40/41 > All else
            * 104.8 Atk for 127.7 Def (Rank 2 GFisk)
            * You can thrift on Def, just be cautious about sinking below 117.58

        For Azu Slayer

           * Ranks 67 & 68 have notable bulk
           * >105.8 Atk can get Charge Move Priority on Medicham which can be significant
               * 169 HP or 168 HP + >118.75 Def have higher Medicham 2-2 consistency
           * >106 Atk gets the GFisk Breakpoint on the Rank 3 (0/15/11) (the highest reasonably Def weighted GFisk)

        For A9 Slayer

           * Enables the 2-2 vs nearly all Alolan Nineales
               * 138.9 Def weights will require >107 Atk
           * The Top 5 of the group have bulk balanced to the 0-0 mirror & potentially the Venusaur 0-1
           * The 2/0/15 can also 2-1 Tapu Fini
               * The Alolan Ninetales flip can also be achieved with high enough Def, but given the wide Atk Range of Alolan Ninetales + the HP drop, the high HP low Def versions are generally more useful

## Great League

### Slight Atk

Empty DataFrame
Columns: [CP, max CP, level, attack, defense, stamina, a, d, s, statprod]
Index: []

### Azu Slayer

,CP,max CP,level,attack,defense,stamina,a,d,s,statprod
15,364,1497,28.0,105.325746,120.170314,168,4.0,14.0,13.0,2126380
22,1500,1500,28.0,105.325746,120.170314,168,4.0,14.0,14.0,2126380
23,1497,1497,28.0,105.325746,120.170314,168,4.0,14.0,13.0,2126380
20,1500,1500,28.0,106.032630,118.049661,169,5.0,11.0,15.0,2115392

### A9 Slayer

Empty DataFrame
Columns: [CP, max CP, level, attack, defense, stamina, a, d, s, statprod]
Index: []

## Ultra League

In [11]:
pvprankings.display_full_report(df)

# Jumpluffs you have, according to the Swag Man

## Great League

### Top 12 amazing stat product

,CP,max CP,level,attack,defense,stamina,a,d,s,statprod
27,1497,1497,43.5,95.320400,159.944400,154,0.0,15.0,10.0,2347878
23,329,1498,42.0,96.036000,158.459400,153,2.0,15.0,11.0,2328324
20,406,1495,44.0,95.615399,158.818798,153,0.0,13.0,9.0,2323384
5,80,1493,43.0,98.246600,158.644100,145,4.0,14.0,0.0,2260005

### Slight attack, high def

     CP  max CP  level   attack   defense  stamina    a     d    s  statprod
10  192    1498   40.0  97.9972  156.4794      149  6.0  15.0  8.0   2284846
5    80    1493   43.0  98.2466  158.6441      145  4.0  14.0  0.0   2260005

### Slight attack, balanced bulk

,CP,max CP,level,attack,defense,stamina,a,d,s,statprod
1,439,1494,37.5,97.784185,153.660862,152,8.0,15.0,15.0,2283891
26,1176,1499,41.5,98.129402,153.975403,151,5.0,10.0,9.0,2281536

## Ultra League

# Walreins you have, according to the Swag Man

Check out the article [here](https://gamepress.gg/pokemongo/walrein-pvp-iv-deep-dive)!

Check out the videos: [here](https://www.youtube.com/watch?v=yJUjtPAPkEM)!

Extra Tips: For the HP, 151 covers the majority of pertinent matchups. However, 154 HP enables the Toxapex 0-0 and 157 can enable the Bastiodon 2-1 and Swampert 2-2 (full bait). These matchups give credence towards forgoing the Azumarill Atk, and instead focusing on Bulk. Do note that only the Rank 1 can achieve the Bastiodon and Swampert matchups without forgoing the Rank 1 Umbreon Defense Breakpoint for the 2-2.

All of this suggests that the Best Walrein PvP IVs for the Great League are either the Rank 84 (1/11/2) or the Rank 31 (0/13/2). The former covering Azumarill better, the latter covering Umbreon better. The Rank 23 (2/13/8) is great too. If Azumarill or slightly Atk weighted Umbreon arenâ€™t a concern of yours, the Rank 1 (0/12/15) is also good.

## Great League

### GOD TIER

Empty DataFrame
Columns: [CP, max CP, level, attack, defense, stamina, a, d, s, statprod]
Index: []

### Azu slayer (112.06 atk, 114.75 def, 151 hp)

Empty DataFrame
Columns: [CP, max CP, level, attack, defense, stamina, a, d, s, statprod]
Index: []

### All Attack Breakpoints

Empty DataFrame
Columns: [CP, max CP, level, attack, defense, stamina, a, d, s, statprod]
Index: []

## Ultra League

### Mirror slayer HP

Empty DataFrame
Columns: [CP, max CP, level, attack, defense, stamina, a, d, s, statprod]
Index: []

### Mirror slayer Def

Empty DataFrame
Columns: [CP, max CP, level, attack, defense, stamina, a, d, s, statprod]
Index: []

### Best of the best

Empty DataFrame
Columns: [CP, max CP, level, attack, defense, stamina, a, d, s, statprod]
Index: []

# Deoxys (Defense)s you have, according to the Swag Man

Check out the article [here](https://gamepress.gg/pokemongo/deoxys-defense-pvp-iv-deep-dive-analysis)!

Check out the videos: [here](https://www.youtube.com/watch?v=p-UrAQDrvTQ)!

Extra Tips: For GL, the SwagMan wants the rank 67>77>22 (15/14/10 > 15/10/12 > 14/12/13) and then bulk 1 > 3 > 9 (10/15/13 > 10/10/15 > 11/13/12) then the mirror slayer rank 17 (13/11/15). For that first range, the 15/13/10 is my best so far.
 The 12/13/15 I have is the UL rank 1. But also my best GL mirror slayer. For UL I decide between that rank 1 and my rank 150 15/13/12 and rank 146 15/11/12 which hit the table breakpoints.

## Great League

### Best you can get are here, but watch the actual video

Empty DataFrame
Columns: [CP, max CP, level, attack, defense, stamina, a, d, s, statprod]
Index: []

### Lanturn 0-1 1-1 Spark 1-0 2-1 water gun, if lanturn is not super high def

,CP,max CP,level,attack,defense,stamina,a,d,s,statprod
20,1277,1500,23.5,102.317793,221.472691,97,14.0,12.0,13.0,2198077
27,1246,1495,24.0,102.091958,223.162550,96,12.0,11.0,10.0,2187177
25,1274,1497,23.5,102.965374,222.120272,95,15.0,13.0,10.0,2172716
66,1274,1497,23.5,102.317793,223.415433,95,14.0,15.0,11.0,2171640
35,1270,1492,23.5,102.965374,220.825110,95,15.0,11.0,10.0,2160047
29,1264,1485,23.5,102.317793,221.472691,95,14.0,12.0,10.0,2152756
38,1262,1483,23.5,102.317793,220.825110,95,14.0,11.0,10.0,2146462

### Includes SwagMan table plus more read the article yo

,CP,max CP,level,attack,defense,stamina,a,d,s,statprod
10,1249,1499,24.0,101.437523,222.508114,98,11.0,10.0,13.0,2211925
21,1250,1500,24.0,101.437523,224.471421,97,11.0,13.0,12.0,2208673
33,1247,1496,24.0,100.783087,223.162550,98,10.0,11.0,14.0,2204119
52,1247,1496,24.0,100.783087,223.162550,98,10.0,11.0,14.0,2204119
23,1245,1494,24.0,101.437523,225.780292,96,11.0,15.0,10.0,2198648
20,1277,1500,23.5,102.317793,221.472691,97,14.0,12.0,13.0,2198077
30,1277,1500,23.5,101.670212,222.767853,97,13.0,14.0,14.0,2196938
68,1272,1495,23.5,101.670212,222.767853,97,13.0,14.0,13.0,2196938
49,1246,1496,24.0,101.437523,223.162550,97,11.0,11.0,12.0,2195794
27,1246,1495,24.0,102.091958,223.162550,96,12.0,11.0,10.0,2187177
40,1237,1485,24.0,100.783087,225.780292,96,10.0,15.0,10.0,2184464
36,1270,1492,23.5,101.670212,223.415433,96,13.0,15.0,12.0,2180610
65,1244,1493,24.0,101.437523,223.816985,96,11.0,12.0,11.0,2179530
51,1240,1488,24.0,101.437523,223.816985,96,11.0,12.0,10.0,2179530
22,1271,1494,23.5,101.670212,220.825110,97,13.0,11.0,14.0,2177779
18,1262,1483,23.5,101.022631,222.120272,97,12.0,13.0,13.0,2176599
48,1242,1491,24.0,101.437523,223.162550,96,11.0,11.0,11.0,2173157
25,1274,1497,23.5,102.965374,222.120272,95,15.0,13.0,10.0,2172716
11,1234,1481,24.0,100.783087,224.471421,96,10.0,13.0,10.0,2171800
66,1274,1497,23.5,102.317793,223.415433,95,14.0,15.0,11.0,2171640
41,1236,1484,24.0,101.437523,222.508114,96,11.0,10.0,10.0,2166784
60,1236,1483,24.0,100.783087,223.816985,96,10.0,12.0,11.0,2165468
17,1259,1479,23.5,101.022631,220.825110,97,12.0,11.0,13.0,2163908
35,1270,1492,23.5,102.965374,220.825110,95,15.0,11.0,10.0,2160047
4,1258,1478,23.5,101.022631,222.120272,96,12.0,13.0,12.0,2154160
6,1232,1479,24.0,100.783087,222.508114,96,10.0,10.0,11.0,2152805
29,1264,1485,23.5,102.317793,221.472691,95,14.0,12.0,10.0,2152756
16,1259,1480,23.5,101.670212,222.767853,95,13.0,14.0,10.0,2151641
38,1262,1483,23.5,102.317793,220.825110,95,14.0,11.0,10.0,2146462
37,1262,1483,23.5,101.670212,222.120272,95,13.0,13.0,11.0,2145386
47,1280,1473,23.0,101.223166,220.384615,96,14.0,14.0,13.0,2141570
28,1285,1477,23.0,101.223166,220.384615,96,14.0,14.0,14.0,2141570
43,1256,1476,23.5,101.670212,221.472691,95,13.0,12.0,10.0,2139131
53,1260,1481,23.5,101.670212,221.472691,95,13.0,12.0,11.0,2139131
50,1251,1471,23.5,101.022631,222.767853,95,12.0,14.0,10.0,2137936
8,1256,1476,23.5,101.022631,222.767853,95,12.0,14.0,11.0,2137936
13,1256,1476,23.5,101.022631,222.767853,95,12.0,14.0,11.0,2137936

### Mirror

,CP,max CP,level,attack,defense,stamina,a,d,s,statprod
10,1249,1499,24.0,101.437523,222.508114,98,11.0,10.0,13.0,2211925
33,1247,1496,24.0,100.783087,223.162550,98,10.0,11.0,14.0,2204119
52,1247,1496,24.0,100.783087,223.162550,98,10.0,11.0,14.0,2204119

## Ultra League

### BB umbreon

,CP,max CP,level,attack,defense,stamina,a,d,s,statprod
1,1279,2500,49.0,132.812698,284.837297,124,15.0,11.0,12.0,4690921
35,1270,2498,49.5,133.210198,285.689797,123,15.0,11.0,10.0,4680985
61,1277,2498,49.0,132.812698,288.178497,122,15.0,15.0,10.0,4669399
25,1274,2491,49.0,132.812698,286.507897,122,15.0,13.0,10.0,4642330
39,1272,2488,49.0,132.812698,284.001997,123,15.0,10.0,11.0,4639445

### Registeel and TF (not BB)

Empty DataFrame
Columns: [CP, max CP, level, attack, defense, stamina, a, d, s, statprod]
Index: []

### Sme rando Umb, TF, Regi

,CP,max CP,level,attack,defense,stamina,a,d,s,statprod
3,1293,2499,48.0,132.017698,283.962597,126,15.0,12.0,15.0,4723499

### Just atk breakpoint

,CP,max CP,level,attack,defense,stamina,a,d,s,statprod
43,1256,2500,50.5,132.319598,288.237597,123,13.0,12.0,10.0,4691156
1,1279,2500,49.0,132.812698,284.837297,124,15.0,11.0,12.0,4690921
19,1282,2492,48.5,132.415198,285.650397,124,15.0,13.0,12.0,4690232
35,1270,2498,49.5,133.210198,285.689797,123,15.0,11.0,10.0,4680985
31,1602,2491,48.5,132.415198,287.315997,123,15.0,15.0,11.0,4679535
38,1262,2497,50.0,132.767398,286.542297,123,14.0,11.0,10.0,4679347
57,1285,2497,48.5,132.415198,284.817597,124,15.0,12.0,13.0,4676558
9,1586,2496,49.5,132.372398,284.851997,124,14.0,10.0,12.0,4675611
61,1277,2498,49.0,132.812698,288.178497,122,15.0,15.0,10.0,4669399
29,1264,2486,49.5,132.372398,286.527597,123,14.0,12.0,10.0,4665186
14,1252,2493,50.5,132.319598,286.551997,123,13.0,10.0,10.0,4663722
34,1281,2490,48.5,132.415198,283.151997,124,15.0,10.0,13.0,4649209
25,1274,2491,49.0,132.812698,286.507897,122,15.0,13.0,10.0,4642330
39,1272,2488,49.0,132.812698,284.001997,123,15.0,10.0,11.0,4639445

# Venusaurs you have, according to the Swag Man

Check out the article [here](https://gamepress.gg/pokemongo/venusaur-pvp-iv-deep-dive)!

## Great League

### Froslass Slayer + OK Def

,CP,max CP,level,attack,defense,stamina,a,d,s,statprod
20,570,1488,20.5,123.384028,118.545438,122,6.0,7.0,13.0,1784446

### Froslass Slayer + Big Def

Empty DataFrame
Columns: [CP, max CP, level, attack, defense, stamina, a, d, s, statprod]
Index: []

### Big Bulk

Empty DataFrame
Columns: [CP, max CP, level, attack, defense, stamina, a, d, s, statprod]
Index: []

### Shadow big bulk

,CP,max CP,level,attack,defense,stamina,a,d,s,statprod
21,479,1466,20.5,119.755086,122.17438,122,0.0,13.0,13.0,1784982

## Ultra League

### Galar Stunfisk Slayer

,CP,max CP,level,attack,defense,stamina,a,d,s,statprod
10,208,2494,42.5,159.757199,158.151599,154,1.0,8.0,2.0,3890941
25,934,2498,39.5,160.644616,158.282195,152,6.0,12.0,4.0,3864931
11,203,2486,43.5,159.944400,157.521000,153,0.0,6.0,0.0,3854774

### Huge Defense

Empty DataFrame
Columns: [CP, max CP, level, attack, defense, stamina, a, d, s, statprod]
Index: []

### As good as Rank 1 Bulk

,CP,max CP,level,attack,defense,stamina,a,d,s,statprod
21,479,2486,39.5,155.919774,159.069669,159,0.0,13.0,13.0,3943534

### Shadow General Blend

Empty DataFrame
Columns: [CP, max CP, level, attack, defense, stamina, a, d, s, statprod]
Index: []

# Dewgongs you have, according to the Swag Man

Check out the article [here](https://gamepress.gg/pokemongo/dewgong-pvp-iv-deep-dive)!

Check out the videos: [here](https://www.youtube.com/watch?v=u_eDH5HNg1M)!

Extra Tips: If you have to choose, favor higher def over higher hp. For GBL, may be best to favor atk breakpoint or high stat product.

## Great League

### Max Def Umbreon, Dewgong, most Mew, weather boosted trev atk, very OK bulk

,CP,max CP,level,attack,defense,stamina,a,d,s,statprod
1,491,1485,28.5,104.835859,134.788962,149,8.0,12.0,2.0,2105476
13,1042,1485,28.5,104.835859,134.788962,149,8.0,12.0,2.0,2105476
2,500,1476,28.0,105.325746,133.601114,147,10.0,12.0,1.0,2068530
12,1054,1476,28.0,105.325746,133.601114,147,10.0,12.0,1.0,2068530

### Rank 1 umbreon atk, balanced bulk

Empty DataFrame
Columns: [CP, max CP, level, attack, defense, stamina, a, d, s, statprod]
Index: []

### rank 1 umbreon atk, rank 1 dewgong dominating def

Empty DataFrame
Columns: [CP, max CP, level, attack, defense, stamina, a, d, s, statprod]
Index: []

## Ultra League

# Sandslashs you have, according to the Swag Man

Check out the article [here](https://gamepress.gg/pokemongo/alolan-sandslash-pvp-iv-deep-dive)!

Check out the videos: [here](https://www.youtube.com/watch?v=o3e84ZurZ0o)!

Extra Tips: Breakpoints are less important here, you really want some bulk.

## Great League

### RS says this

,CP,max CP,level,attack,defense,stamina,a,d,s,statprod
14,918,1499,24.5,121.003123,121.664342,126,1.0,9.0,10.0,1854942
13,159,1496,24.5,121.003123,123.648000,123,1.0,12.0,6.0,1840300
11,489,1489,24.0,121.070592,122.379463,123,3.0,12.0,8.0,1822436
9,406,1485,25.0,122.231922,120.896054,122,1.0,6.0,2.0,1802837

## Ultra League

Exception: Could not find evolution line for Sandslash (Alolan). got []

In [6]:
pvprankings.display_rs_info(df,'Lickitung')

# Lickitungs you have, according to the Swag Man

Check out the article [here](https://gamepress.gg/pokemongo/lickitung-pvp-iv-deep-dive)!

Check out the videos: [here]()!

Extra Tips: General Good is minimum bulk for "good" lickitung.
Atk focus: Potentiates Registeel and Shadow Walrein Breakpoints without giving up too much bulk, 126.2 Def, 126.58 Def, and 184 HP are notable stat checks, Priority Recommendation 126.2 Def=184 HP>185+ HP=126.58 Def
Budget Boi: This budget list is for players whoâ€™ve already built a Lickitung and are wondering if they should build twice (or for players looking to save ~94 XL Candy), If you meet at least 125.1 Def and 181 HP, building a better Lickitung might not be worth it compared to other projects

## Great League

### General Good (125.94 def, 183 hp)

,CP,max CP,level,attack,defense,stamina,a,d,s,statprod
10,773,1494,48.0,97.975399,126.205598,184,10.0,15.0,15.0,2275168

### Atk Focus (97.7 Atk, 125.94 def, 183 hp)

,CP,max CP,level,attack,defense,stamina,a,d,s,statprod
10,773,1494,48.0,97.975399,126.205598,184,10.0,15.0,15.0,2275168

### Budget Bois (97 Atk, 125.1 def, 181 hp)

,CP,max CP,level,attack,defense,stamina,a,d,s,statprod
10,773,1494,48.0,97.975399,126.205598,184,10.0,15.0,15.0,2275168
19,765,1497,49.0,98.565399,126.130298,182,10.0,14.0,12.0,2262639
4,720,1499,50.0,99.155399,126.044999,181,10.0,13.0,9.0,2262145
2,1147,1495,49.0,98.565399,125.294999,183,10.0,13.0,13.0,2260004
6,477,1470,51.0,97.209499,125.949699,181,7.0,12.0,8.0,2216074

## Ultra League

In [14]:
pvprankings.display_rs_info(df,'Deoxys (Defense)')

# Deoxys (Defense)s you have, according to the Swag Man

Check out the article [here](https://gamepress.gg/pokemongo/deoxys-defense-pvp-iv-deep-dive-analysis)!

Check out the videos: [here](https://www.youtube.com/watch?v=p-UrAQDrvTQ)!

Extra Tips: For GL, the SwagMan wants the rank 67>77>22 (15/14/10 > 15/10/12 > 14/12/13) and then bulk 1 > 3 > 9 (10/15/13 > 10/10/15 > 11/13/12) then the mirror slayer rank 17 (13/11/15). For that first range, the 15/13/10 is my best so far.
 The 12/13/15 I have is the UL rank 1. But also my best GL mirror slayer. For UL I decide between that rank 1 and my rank 150 15/13/12 and rank 146 15/11/12 which hit the table breakpoints.

## Great League

### Best you can get are here, but watch the actual video

Empty DataFrame
Columns: [CP, max CP, level, attack, defense, stamina, a, d, s, statprod]
Index: []

### Lanturn 0-1 1-1 Spark 1-0 2-1 water gun, if lanturn is not super high def

,CP,max CP,level,attack,defense,stamina,a,d,s,statprod
19,1277,1500,23.5,102.317793,221.472691,97,14.0,12.0,13.0,2198077
27,1246,1495,24.0,102.091958,223.162550,96,12.0,11.0,10.0,2187177
25,1274,1497,23.5,102.965374,222.120272,95,15.0,13.0,10.0,2172716
66,1274,1497,23.5,102.317793,223.415433,95,14.0,15.0,11.0,2171640
35,1270,1492,23.5,102.965374,220.825110,95,15.0,11.0,10.0,2160047
29,1264,1485,23.5,102.317793,221.472691,95,14.0,12.0,10.0,2152756
38,1262,1483,23.5,102.317793,220.825110,95,14.0,11.0,10.0,2146462

### Includes SwagMan table plus more read the article yo

,CP,max CP,level,attack,defense,stamina,a,d,s,statprod
9,1249,1499,24.0,101.437523,222.508114,98,11.0,10.0,13.0,2211925
20,1250,1500,24.0,101.437523,224.471421,97,11.0,13.0,12.0,2208673
33,1247,1496,24.0,100.783087,223.162550,98,10.0,11.0,14.0,2204119
52,1247,1496,24.0,100.783087,223.162550,98,10.0,11.0,14.0,2204119
23,1271,1493,23.5,101.022631,222.120272,98,12.0,13.0,15.0,2199039
22,1245,1494,24.0,101.437523,225.780292,96,11.0,15.0,10.0,2198648
19,1277,1500,23.5,102.317793,221.472691,97,14.0,12.0,13.0,2198077
30,1277,1500,23.5,101.670212,222.767853,97,13.0,14.0,14.0,2196938
68,1272,1495,23.5,101.670212,222.767853,97,13.0,14.0,13.0,2196938
49,1246,1496,24.0,101.437523,223.162550,97,11.0,11.0,12.0,2195794
27,1246,1495,24.0,102.091958,223.162550,96,12.0,11.0,10.0,2187177
40,1237,1485,24.0,100.783087,225.780292,96,10.0,15.0,10.0,2184464
36,1270,1492,23.5,101.670212,223.415433,96,13.0,15.0,12.0,2180610
65,1244,1493,24.0,101.437523,223.816985,96,11.0,12.0,11.0,2179530
51,1240,1488,24.0,101.437523,223.816985,96,11.0,12.0,10.0,2179530
21,1271,1494,23.5,101.670212,220.825110,97,13.0,11.0,14.0,2177779
17,1262,1483,23.5,101.022631,222.120272,97,12.0,13.0,13.0,2176599
48,1242,1491,24.0,101.437523,223.162550,96,11.0,11.0,11.0,2173157
25,1274,1497,23.5,102.965374,222.120272,95,15.0,13.0,10.0,2172716
10,1234,1481,24.0,100.783087,224.471421,96,10.0,13.0,10.0,2171800
66,1274,1497,23.5,102.317793,223.415433,95,14.0,15.0,11.0,2171640
41,1236,1484,24.0,101.437523,222.508114,96,11.0,10.0,10.0,2166784
60,1236,1483,24.0,100.783087,223.816985,96,10.0,12.0,11.0,2165468
16,1259,1479,23.5,101.022631,220.825110,97,12.0,11.0,13.0,2163908
35,1270,1492,23.5,102.965374,220.825110,95,15.0,11.0,10.0,2160047
3,1258,1478,23.5,101.022631,222.120272,96,12.0,13.0,12.0,2154160
5,1232,1479,24.0,100.783087,222.508114,96,10.0,10.0,11.0,2152805
29,1264,1485,23.5,102.317793,221.472691,95,14.0,12.0,10.0,2152756
15,1259,1480,23.5,101.670212,222.767853,95,13.0,14.0,10.0,2151641
38,1262,1483,23.5,102.317793,220.825110,95,14.0,11.0,10.0,2146462
37,1262,1483,23.5,101.670212,222.120272,95,13.0,13.0,11.0,2145386
47,1280,1473,23.0,101.223166,220.384615,96,14.0,14.0,13.0,2141570
28,1285,1477,23.0,101.223166,220.384615,96,14.0,14.0,14.0,2141570
43,1256,1476,23.5,101.670212,221.472691,95,13.0,12.0,10.0,2139131
53,1260,1481,23.5,101.670212,221.472691,95,13.0,12.0,11.0,2139131
50,1251,1471,23.5,101.022631,222.767853,95,12.0,14.0,10.0,2137936
7,1256,1476,23.5,101.022631,222.767853,95,12.0,14.0,11.0,2137936
12,1256,1476,23.5,101.022631,222.767853,95,12.0,14.0,11.0,2137936

### Mirror

,CP,max CP,level,attack,defense,stamina,a,d,s,statprod
9,1249,1499,24.0,101.437523,222.508114,98,11.0,10.0,13.0,2211925
33,1247,1496,24.0,100.783087,223.162550,98,10.0,11.0,14.0,2204119
52,1247,1496,24.0,100.783087,223.162550,98,10.0,11.0,14.0,2204119
23,1271,1493,23.5,101.022631,222.120272,98,12.0,13.0,15.0,2199039

## Ultra League

### BB umbreon

,CP,max CP,level,attack,defense,stamina,a,d,s,statprod
0,1279,2500,49.0,132.812698,284.837297,124,15.0,11.0,12.0,4690921
35,1270,2498,49.5,133.210198,285.689797,123,15.0,11.0,10.0,4680985
61,1277,2498,49.0,132.812698,288.178497,122,15.0,15.0,10.0,4669399
25,1274,2491,49.0,132.812698,286.507897,122,15.0,13.0,10.0,4642330
39,1272,2488,49.0,132.812698,284.001997,123,15.0,10.0,11.0,4639445

### Registeel and TF (not BB)

Empty DataFrame
Columns: [CP, max CP, level, attack, defense, stamina, a, d, s, statprod]
Index: []

### Sme rando Umb, TF, Regi

,CP,max CP,level,attack,defense,stamina,a,d,s,statprod
2,1293,2499,48.0,132.017698,283.962597,126,15.0,12.0,15.0,4723499

### Just atk breakpoint

,CP,max CP,level,attack,defense,stamina,a,d,s,statprod
43,1256,2500,50.5,132.319598,288.237597,123,13.0,12.0,10.0,4691156
0,1279,2500,49.0,132.812698,284.837297,124,15.0,11.0,12.0,4690921
18,1282,2492,48.5,132.415198,285.650397,124,15.0,13.0,12.0,4690232
35,1270,2498,49.5,133.210198,285.689797,123,15.0,11.0,10.0,4680985
31,1602,2491,48.5,132.415198,287.315997,123,15.0,15.0,11.0,4679535
38,1262,2497,50.0,132.767398,286.542297,123,14.0,11.0,10.0,4679347
57,1285,2497,48.5,132.415198,284.817597,124,15.0,12.0,13.0,4676558
8,1586,2496,49.5,132.372398,284.851997,124,14.0,10.0,12.0,4675611
61,1277,2498,49.0,132.812698,288.178497,122,15.0,15.0,10.0,4669399
29,1264,2486,49.5,132.372398,286.527597,123,14.0,12.0,10.0,4665186
13,1252,2493,50.5,132.319598,286.551997,123,13.0,10.0,10.0,4663722
34,1281,2490,48.5,132.415198,283.151997,124,15.0,10.0,13.0,4649209
25,1274,2491,49.0,132.812698,286.507897,122,15.0,13.0,10.0,4642330
39,1272,2488,49.0,132.812698,284.001997,123,15.0,10.0,11.0,4639445

In [11]:
pvprankings.display_rs_info(df,'Linoone (Galarian)')

# Linoone (Galarian)s you have, according to the Swag Man

Check out the article [here](https://twitter.com/SwgTips/status/1558892455017185280)!

Check out the videos: [here]()!

Extra Tips: Still bad right now.

## Great League

### Swamp/cash

,CP,max CP,level,attack,defense,stamina,a,d,s,statprod
26,10,1492,41.0,112.932601,109.751401,159,0.0,10.0,14.0,1970727
25,284,1494,39.0,112.987728,111.418454,156,2.0,14.0,14.0,1963871
4,169,1498,41.5,114.883202,106.107402,160,2.0,5.0,15.0,1950393
36,1083,1494,39.0,114.557002,109.064543,156,4.0,11.0,13.0,1949080
35,1327,1493,37.5,114.857614,109.425160,154,6.0,13.0,13.0,1935520
18,213,1493,39.5,114.971147,107.096411,157,4.0,8.0,14.0,1933140
28,383,1491,39.5,114.971147,111.821252,150,4.0,14.0,5.0,1928432
30,315,1492,38.5,114.923138,111.795978,150,5.0,15.0,7.0,1927191
12,119,1500,40.0,116.964400,105.109900,156,6.0,5.0,12.0,1917882
34,267,1495,35.5,116.201882,107.792535,153,10.0,13.0,15.0,1916431
5,24,1492,39.5,115.758620,111.033779,149,5.0,13.0,4.0,1915114
15,205,1498,35.0,117.280831,106.618938,153,12.0,12.0,15.0,1913166
29,339,1500,38.0,116.839912,111.387383,147,8.0,15.0,4.0,1913130
32,277,1497,34.5,116.829077,107.725512,152,12.0,14.0,15.0,1912991
21,90,1493,41.0,116.113801,108.956101,151,4.0,9.0,5.0,1910347
22,19,1493,38.5,116.486718,107.887028,152,7.0,10.0,9.0,1910245
17,67,1497,40.5,117.334987,102.271712,159,6.0,1.0,15.0,1908007
33,268,1494,35.5,116.966368,106.263563,153,11.0,11.0,15.0,1901677
0,328,1497,38.0,117.618845,103.598056,156,9.0,5.0,15.0,1900873
14,259,1494,35.0,117.280831,106.618938,152,12.0,12.0,14.0,1900662
19,222,1495,38.5,117.268508,109.450608,148,8.0,12.0,4.0,1899596
23,199,1493,36.0,117.411767,105.900809,152,11.0,10.0,13.0,1889968
2,34,1495,36.0,118.179164,104.366015,153,12.0,8.0,14.0,1887084
6,44,1494,39.5,118.121041,108.671358,147,8.0,10.0,1.0,1886946
27,71,1498,39.0,118.480187,109.064543,146,9.0,11.0,1.0,1886610
1,21,1495,34.5,118.346337,104.690991,152,14.0,10.0,15.0,1883248
20,81,1494,34.0,118.642623,105.040284,151,15.0,11.0,14.0,1881800
31,286,1493,33.5,118.178467,106.134801,150,15.0,13.0,14.0,1881427
3,202,1494,42.5,118.814399,105.969599,149,6.0,4.0,0.0,1876016
11,64,1491,35.0,118.042395,105.857374,150,13.0,11.0,12.0,1874348
7,308,1494,39.0,119.264824,105.925995,148,10.0,7.0,3.0,1869720
13,30,1492,41.5,119.670002,103.714002,149,8.0,2.0,2.0,1849306
9,147,1496,36.5,120.936671,102.449536,149,15.0,5.0,8.0,1846095
16,171,1495,39.5,120.483462,100.796622,152,11.0,0.0,8.0,1845937
8,88,1495,37.5,121.066134,100.888445,151,14.0,2.0,9.0,1844340
24,343,1497,40.0,122.496500,101.158400,147,13.0,0.0,1.0,1821557

### Drap/A9 CMP

,CP,max CP,level,attack,defense,stamina,a,d,s,statprod
4,169,1498,41.5,114.883202,106.107402,160,2.0,5.0,15.0,1950393
36,1083,1494,39.0,114.557002,109.064543,156,4.0,11.0,13.0,1949080
35,1327,1493,37.5,114.857614,109.425160,154,6.0,13.0,13.0,1935520
18,213,1493,39.5,114.971147,107.096411,157,4.0,8.0,14.0,1933140
28,383,1491,39.5,114.971147,111.821252,150,4.0,14.0,5.0,1928432
30,315,1492,38.5,114.923138,111.795978,150,5.0,15.0,7.0,1927191
12,119,1500,40.0,116.964400,105.109900,156,6.0,5.0,12.0,1917882
34,267,1495,35.5,116.201882,107.792535,153,10.0,13.0,15.0,1916431
5,24,1492,39.5,115.758620,111.033779,149,5.0,13.0,4.0,1915114
15,205,1498,35.0,117.280831,106.618938,153,12.0,12.0,15.0,1913166
29,339,1500,38.0,116.839912,111.387383,147,8.0,15.0,4.0,1913130
32,277,1497,34.5,116.829077,107.725512,152,12.0,14.0,15.0,1912991
21,90,1493,41.0,116.113801,108.956101,151,4.0,9.0,5.0,1910347
22,19,1493,38.5,116.486718,107.887028,152,7.0,10.0,9.0,1910245
17,67,1497,40.5,117.334987,102.271712,159,6.0,1.0,15.0,1908007
33,268,1494,35.5,116.966368,106.263563,153,11.0,11.0,15.0,1901677
0,328,1497,38.0,117.618845,103.598056,156,9.0,5.0,15.0,1900873
14,259,1494,35.0,117.280831,106.618938,152,12.0,12.0,14.0,1900662
19,222,1495,38.5,117.268508,109.450608,148,8.0,12.0,4.0,1899596
23,199,1493,36.0,117.411767,105.900809,152,11.0,10.0,13.0,1889968
2,34,1495,36.0,118.179164,104.366015,153,12.0,8.0,14.0,1887084
6,44,1494,39.5,118.121041,108.671358,147,8.0,10.0,1.0,1886946
27,71,1498,39.0,118.480187,109.064543,146,9.0,11.0,1.0,1886610
1,21,1495,34.5,118.346337,104.690991,152,14.0,10.0,15.0,1883248
20,81,1494,34.0,118.642623,105.040284,151,15.0,11.0,14.0,1881800
31,286,1493,33.5,118.178467,106.134801,150,15.0,13.0,14.0,1881427
3,202,1494,42.5,118.814399,105.969599,149,6.0,4.0,0.0,1876016
11,64,1491,35.0,118.042395,105.857374,150,13.0,11.0,12.0,1874348
7,308,1494,39.0,119.264824,105.925995,148,10.0,7.0,3.0,1869720
13,30,1492,41.5,119.670002,103.714002,149,8.0,2.0,2.0,1849306
9,147,1496,36.5,120.936671,102.449536,149,15.0,5.0,8.0,1846095
16,171,1495,39.5,120.483462,100.796622,152,11.0,0.0,8.0,1845937
8,88,1495,37.5,121.066134,100.888445,151,14.0,2.0,9.0,1844340
24,343,1497,40.0,122.496500,101.158400,147,13.0,0.0,1.0,1821557

### Diggers

,CP,max CP,level,attack,defense,stamina,a,d,s,statprod
25,284,1494,39.0,112.987728,111.418454,156,2.0,14.0,14.0,1963871
28,383,1491,39.5,114.971147,111.821252,150,4.0,14.0,5.0,1928432
30,315,1492,38.5,114.923138,111.795978,150,5.0,15.0,7.0,1927191
5,24,1492,39.5,115.758620,111.033779,149,5.0,13.0,4.0,1915114
29,339,1500,38.0,116.839912,111.387383,147,8.0,15.0,4.0,1913130

### SwagAtk FS Awak

,CP,max CP,level,attack,defense,stamina,a,d,s,statprod
25,284,1494,39.0,112.987728,111.418454,156,2.0,14.0,14.0,1963871
28,383,1491,39.5,114.971147,111.821252,150,4.0,14.0,5.0,1928432
30,315,1492,38.5,114.923138,111.795978,150,5.0,15.0,7.0,1927191
29,339,1500,38.0,116.839912,111.387383,147,8.0,15.0,4.0,1913130

### Best

,CP,max CP,level,attack,defense,stamina,a,d,s,statprod
28,383,1491,39.5,114.971147,111.821252,150,4.0,14.0,5.0,1928432
30,315,1492,38.5,114.923138,111.795978,150,5.0,15.0,7.0,1927191
29,339,1500,38.0,116.839912,111.387383,147,8.0,15.0,4.0,1913130

## Ultra League

In [13]:
pvprankings.display_rs_info(df,'Azumarill')

# Azumarills you have, according to the Swag Man

Check out the article [here](https://gamepress.gg/pokemongo/azumarill-pvp-iv-deep-dive)!

Check out the videos: [here](https://www.youtube.com/watch?v=iYaqdQG0Ic8)!

Extra Tips: Old non-XL article: https://gamepress.gg/pokemongo/azumarill-great-league-pvp-iv-deep-dive .. you can make up or lower def/hp at a 1:2 ratio, so 134.7 def is fixed by a94 hp, 190 hp is fixed by 136.7 def.

## Great League

### Medicham 1-1 consistency, 1-2 potential with play rough

Empty DataFrame
Columns: [CP, max CP, level, attack, defense, stamina, a, d, s, statprod]
Index: []

### Hits the min

,CP,max CP,level,attack,defense,stamina,a,d,s,statprod
30,1498,1498,46.5,92.153599,137.407598,192,0.0,15.0,9.0,2431220
11,102,1496,46.0,91.873599,136.990098,193,0.0,15.0,11.0,2429054

### General Def/HP Azu

,CP,max CP,level,attack,defense,stamina,a,d,s,statprod
13,143,1496,46.0,91.873599,135.349498,196,0.0,13.0,14.0,2437268
21,148,1496,46.0,91.873599,135.349498,196,0.0,13.0,14.0,2437268
30,1498,1498,46.5,92.153599,137.407598,192,0.0,15.0,9.0,2431220
11,102,1496,46.0,91.873599,136.990098,193,0.0,15.0,11.0,2429054
12,44,1497,46.0,92.693899,133.708898,195,1.0,11.0,13.0,2416829
14,52,1497,47.5,92.713599,135.759198,192,0.0,12.0,7.0,2416650
20,241,1498,45.5,93.229199,134.936998,191,2.0,13.0,9.0,2402793
23,203,1496,45.0,92.944199,135.339798,191,2.0,14.0,10.0,2402598
22,202,1497,45.5,93.229199,136.572598,188,2.0,15.0,6.0,2393720
17,192,1496,47.5,93.541399,134.931398,189,1.0,11.0,4.0,2385495
15,237,1495,49.0,93.553599,135.318598,188,0.0,10.0,1.0,2379993
16,161,1500,42.0,94.435400,133.650100,188,6.0,15.0,11.0,2372804
18,172,1492,48.0,93.823899,133.678298,189,1.0,9.0,3.0,2370479

### Slight Atk Weight Azu

,CP,max CP,level,attack,defense,stamina,a,d,s,statprod
30,1498,1498,46.5,92.153599,137.407598,192,0.0,15.0,9.0,2431220
12,44,1497,46.0,92.693899,133.708898,195,1.0,11.0,13.0,2416829
14,52,1497,47.5,92.713599,135.759198,192,0.0,12.0,7.0,2416650
20,241,1498,45.5,93.229199,134.936998,191,2.0,13.0,9.0,2402793
23,203,1496,45.0,92.944199,135.339798,191,2.0,14.0,10.0,2402598
22,202,1497,45.5,93.229199,136.572598,188,2.0,15.0,6.0,2393720
17,192,1496,47.5,93.541399,134.931398,189,1.0,11.0,4.0,2385495
15,237,1495,49.0,93.553599,135.318598,188,0.0,10.0,1.0,2379993
16,161,1500,42.0,94.435400,133.650100,188,6.0,15.0,11.0,2372804
18,172,1492,48.0,93.823899,133.678298,189,1.0,9.0,3.0,2370479

## Ultra League

In [4]:
pvprankings.display_rs_info(df,'Venusaur')

# Venusaurs you have, according to the Swag Man

Check out the article [here](https://gamepress.gg/pokemongo/venusaur-pvp-iv-deep-dive)!

## Great League

### Froslass Slayer + OK Def

,CP,max CP,level,attack,defense,stamina,a,d,s,statprod
20,570,1488,20.5,123.384028,118.545438,122,6.0,7.0,13.0,1784446

### Froslass Slayer + Big Def

Empty DataFrame
Columns: [CP, max CP, level, attack, defense, stamina, a, d, s, statprod]
Index: []

### Big Bulk

Empty DataFrame
Columns: [CP, max CP, level, attack, defense, stamina, a, d, s, statprod]
Index: []

### Shadow big bulk

Empty DataFrame
Columns: [CP, max CP, level, attack, defense, stamina, a, d, s, statprod]
Index: []

## Ultra League

### Galar Stunfisk Slayer

,CP,max CP,level,attack,defense,stamina,a,d,s,statprod
10,208,2494,42.5,159.757199,158.151599,154,1.0,8.0,2.0,3890941
23,934,2498,39.5,160.644616,158.282195,152,6.0,12.0,4.0,3864931
11,203,2486,43.5,159.944400,157.521000,153,0.0,6.0,0.0,3854774

### Huge Defense

Empty DataFrame
Columns: [CP, max CP, level, attack, defense, stamina, a, d, s, statprod]
Index: []

### As good as Rank 1 Bulk

Empty DataFrame
Columns: [CP, max CP, level, attack, defense, stamina, a, d, s, statprod]
Index: []

### Shadow General Blend

Empty DataFrame
Columns: [CP, max CP, level, attack, defense, stamina, a, d, s, statprod]
Index: []

In [5]:
pvprankings.display_rs_info(df,'Swampert')

# Swamperts you have, according to the Swag Man

Check out the article [here]()!

Check out the videos: [here]()!

Extra Tips: No good deep dive

## Great League

### Def

,CP,max CP,level,attack,defense,stamina,a,d,s,statprod
27,44,1496,19.0,124.025406,110.632991,131,5.0,15.0,1.0,1797490

### Atk

,CP,max CP,level,attack,defense,stamina,a,d,s,statprod
15,255,1498,19.0,121.696290,108.886154,139,1.0,12.0,14.0,1841894
65,398,1497,19.0,121.696290,108.303875,139,1.0,11.0,15.0,1832044
17,396,1491,19.0,121.696290,108.886154,138,1.0,12.0,12.0,1828643
78,253,1491,19.0,121.696290,108.886154,138,1.0,12.0,12.0,1828643
114,763,1499,18.5,122.957795,109.168135,136,6.0,15.0,12.0,1825537
13,215,1496,19.5,122.696685,109.129263,136,0.0,10.0,6.0,1821012
88,158,1500,19.5,123.286573,109.129263,135,1.0,10.0,5.0,1816313
83,222,1486,19.0,122.278569,109.468433,135,2.0,13.0,7.0,1807061
118,1486,1486,19.0,122.278569,109.468433,135,2.0,13.0,7.0,1807061
86,194,1496,19.0,124.025406,108.303875,134,5.0,11.0,6.0,1799945
27,44,1496,19.0,124.025406,110.632991,131,5.0,15.0,1.0,1797490
119,1044,1486,18.5,124.106933,108.593566,132,8.0,14.0,5.0,1778992
115,613,1486,18.5,124.106933,108.593566,132,8.0,14.0,5.0,1778992
5,220,1477,19.0,124.025406,108.303875,131,5.0,11.0,0.0,1759648
66,386,1466,19.0,122.278569,108.886154,132,2.0,12.0,2.0,1757506
71,330,1464,19.0,122.278569,109.468433,131,2.0,13.0,0.0,1753519
69,353,1486,18.5,125.830640,108.018997,129,11.0,13.0,0.0,1753380
56,464,1472,18.5,122.957795,108.018997,132,6.0,13.0,6.0,1753194
12,199,1479,18.5,124.681502,108.018997,130,9.0,13.0,2.0,1750836
59,435,1473,18.5,124.681502,108.018997,129,9.0,13.0,0.0,1737368

## Ultra League

In [32]:
pvprankings.display_rs_info(df,'Linoone (Galarian)')

# Linoone (Galarian)s you have, according to the Swag Man

Check out the article [here](https://twitter.com/SwgTips/status/1558892455017185280)!

Check out the videos: [here]()!

Extra Tips: Still bad right now.

## Great League

### Swamp/cash

,CP,max CP,level,attack,defense,stamina,a,d,s,statprod
20,10,1492,41.0,112.932601,109.751401,159,0.0,10.0,14.0,1970727
5,284,1494,39.0,112.987728,111.418454,156,2.0,14.0,14.0,1963871
22,1083,1494,39.0,114.557002,109.064543,156,4.0,11.0,13.0,1949080
21,1327,1493,37.5,114.857614,109.425160,154,6.0,13.0,13.0,1935520
10,213,1493,39.5,114.971147,107.096411,157,4.0,8.0,14.0,1933140
0,383,1491,39.5,114.971147,111.821252,150,4.0,14.0,5.0,1928432
3,315,1492,38.5,114.923138,111.795978,150,5.0,15.0,7.0,1927191
8,267,1495,35.5,116.201882,107.792535,153,10.0,13.0,15.0,1916431
11,205,1498,35.0,117.280831,106.618938,153,12.0,12.0,15.0,1913166
2,339,1500,38.0,116.839912,111.387383,147,8.0,15.0,4.0,1913130
6,277,1497,34.5,116.829077,107.725512,152,12.0,14.0,15.0,1912991
14,90,1493,41.0,116.113801,108.956101,151,4.0,9.0,5.0,1910347
19,19,1493,38.5,116.486718,107.887028,152,7.0,10.0,9.0,1910245
18,67,1497,40.5,117.334987,102.271712,159,6.0,1.0,15.0,1908007
7,268,1494,35.5,116.966368,106.263563,153,11.0,11.0,15.0,1901677
9,259,1494,35.0,117.280831,106.618938,152,12.0,12.0,14.0,1900662
12,199,1493,36.0,117.411767,105.900809,152,11.0,10.0,13.0,1889968
16,71,1498,39.0,118.480187,109.064543,146,9.0,11.0,1.0,1886610
15,81,1494,34.0,118.642623,105.040284,151,15.0,11.0,14.0,1881800
4,286,1493,33.5,118.178467,106.134801,150,15.0,13.0,14.0,1881427
17,30,1492,41.5,119.670002,103.714002,149,8.0,2.0,2.0,1849306
13,171,1495,39.5,120.483462,100.796622,152,11.0,0.0,8.0,1845937
1,343,1497,40.0,122.496500,101.158400,147,13.0,0.0,1.0,1821557

### Drap/A9 CMP

,CP,max CP,level,attack,defense,stamina,a,d,s,statprod
22,1083,1494,39.0,114.557002,109.064543,156,4.0,11.0,13.0,1949080
21,1327,1493,37.5,114.857614,109.425160,154,6.0,13.0,13.0,1935520
10,213,1493,39.5,114.971147,107.096411,157,4.0,8.0,14.0,1933140
0,383,1491,39.5,114.971147,111.821252,150,4.0,14.0,5.0,1928432
3,315,1492,38.5,114.923138,111.795978,150,5.0,15.0,7.0,1927191
8,267,1495,35.5,116.201882,107.792535,153,10.0,13.0,15.0,1916431
11,205,1498,35.0,117.280831,106.618938,153,12.0,12.0,15.0,1913166
2,339,1500,38.0,116.839912,111.387383,147,8.0,15.0,4.0,1913130
6,277,1497,34.5,116.829077,107.725512,152,12.0,14.0,15.0,1912991
14,90,1493,41.0,116.113801,108.956101,151,4.0,9.0,5.0,1910347
19,19,1493,38.5,116.486718,107.887028,152,7.0,10.0,9.0,1910245
18,67,1497,40.5,117.334987,102.271712,159,6.0,1.0,15.0,1908007
7,268,1494,35.5,116.966368,106.263563,153,11.0,11.0,15.0,1901677
9,259,1494,35.0,117.280831,106.618938,152,12.0,12.0,14.0,1900662
12,199,1493,36.0,117.411767,105.900809,152,11.0,10.0,13.0,1889968
16,71,1498,39.0,118.480187,109.064543,146,9.0,11.0,1.0,1886610
15,81,1494,34.0,118.642623,105.040284,151,15.0,11.0,14.0,1881800
4,286,1493,33.5,118.178467,106.134801,150,15.0,13.0,14.0,1881427
17,30,1492,41.5,119.670002,103.714002,149,8.0,2.0,2.0,1849306
13,171,1495,39.5,120.483462,100.796622,152,11.0,0.0,8.0,1845937
1,343,1497,40.0,122.496500,101.158400,147,13.0,0.0,1.0,1821557

### Diggers

,CP,max CP,level,attack,defense,stamina,a,d,s,statprod
5,284,1494,39.0,112.987728,111.418454,156,2.0,14.0,14.0,1963871
0,383,1491,39.5,114.971147,111.821252,150,4.0,14.0,5.0,1928432
3,315,1492,38.5,114.923138,111.795978,150,5.0,15.0,7.0,1927191
2,339,1500,38.0,116.839912,111.387383,147,8.0,15.0,4.0,1913130

### SwagAtk FS Awak

,CP,max CP,level,attack,defense,stamina,a,d,s,statprod
5,284,1494,39.0,112.987728,111.418454,156,2.0,14.0,14.0,1963871
0,383,1491,39.5,114.971147,111.821252,150,4.0,14.0,5.0,1928432
3,315,1492,38.5,114.923138,111.795978,150,5.0,15.0,7.0,1927191
2,339,1500,38.0,116.839912,111.387383,147,8.0,15.0,4.0,1913130

### Best

,CP,max CP,level,attack,defense,stamina,a,d,s,statprod
0,383,1491,39.5,114.971147,111.821252,150,4.0,14.0,5.0,1928432
3,315,1492,38.5,114.923138,111.795978,150,5.0,15.0,7.0,1927191
2,339,1500,38.0,116.839912,111.387383,147,8.0,15.0,4.0,1913130

## Ultra League

In [16]:
pvprankings.display_rs_info(df,'Toxapex')

# Toxapexs you have, according to the Swag Man

Check out the article [here](https://gamepress.gg/pokemongo/toxapex-pvp-iv-deep-dive)!

Check out the videos: [here](https://www.youtube.com/watch?v=7ZiNZvY8uXs)!

Extra Tips:

        High Bulk:
        * For tie-breakers, generally HP > Def
        * If you fear Swampert, 227.82+ Def is important
        * If you hate Venusaur & Jumpluff, 91+ Atk is important

        Mirror Slayer
        * If you hate Venusaur & Jumpluff, 91+ Atk is important

        Lickitung Slayer
        * Rank 1 and 2 Best Buddy Lickitung require 94.13 Atk

        Which IV is best? See the article. But Rank 1 is great, Ranks 2 and 3 get CMP over things, ranks 4 and 9 do better against swampert, etc.

## Great League

### High Bulk (226.73 Def, 118 HP)

,CP,max CP,level,attack,defense,stamina,a,d,s,statprod
3,380,1498,41.5,90.949202,229.766404,118,0.0,15.0,11.0,2465854
55,1498,1498,41.5,90.949202,229.766404,118,0.0,15.0,11.0,2465854

### Mirror Slayer/Big HP (219 Def, 121 HP)

Empty DataFrame
Columns: [CP, max CP, level, attack, defense, stamina, a, d, s, statprod]
Index: []

### Lickitung Slayer (93 Atk, 118 HP)

,CP,max CP,level,attack,defense,stamina,a,d,s,statprod
1,461,1495,38.5,93.033017,217.337635,118,5.0,5.0,15.0,2385909

## Ultra League

In [17]:
pvprankings.display_rs_info(df,'Lickitung')

# Lickitungs you have, according to the Swag Man

Check out the article [here](https://gamepress.gg/pokemongo/lickitung-pvp-iv-deep-dive)!

Check out the videos: [here]()!

Extra Tips: General Good is minimum bulk for "good" lickitung.
Atk focus: Potentiates Registeel and Shadow Walrein Breakpoints without giving up too much bulk, 126.2 Def, 126.58 Def, and 184 HP are notable stat checks, Priority Recommendation 126.2 Def=184 HP>185+ HP=126.58 Def
Budget Boi: This budget list is for players whoâ€™ve already built a Lickitung and are wondering if they should build twice (or for players looking to save ~94 XL Candy), If you meet at least 125.1 Def and 181 HP, building a better Lickitung might not be worth it compared to other projects

## Great League

### General Good (125.94 def, 183 hp)

Empty DataFrame
Columns: [CP, max CP, level, attack, defense, stamina, a, d, s, statprod]
Index: []

### Atk Focus (97.7 Atk, 125.94 def, 183 hp)

Empty DataFrame
Columns: [CP, max CP, level, attack, defense, stamina, a, d, s, statprod]
Index: []

### Budget Bois (97 Atk, 125.1 def, 181 hp)

,CP,max CP,level,attack,defense,stamina,a,d,s,statprod
3,720,1499,50.0,99.155399,126.044999,181,10.0,13.0,9.0,2262145
6,1147,1495,49.0,98.565399,125.294999,183,10.0,13.0,13.0,2260004
0,477,1470,51.0,97.209499,125.949699,181,7.0,12.0,8.0,2216074

## Ultra League

In [12]:
pvprankings.display_rs_info(df,'Noctowl')

# Noctowls you have, according to the Swag Man

Check out the article [here](https://gamepress.gg/pokemongo/noctowl-pvp-iv-deep-dive)!

Check out the videos: [here](https://www.youtube.com/watch?v=sdagO7Z8p6w&t=85s)!

Extra Tips:
        People use slight atk and azu slayer primarily. not a9 slayer.

        For Atk:

            * Rank 24 >= Rank 4 > Rank 40/41 > All else
            * 104.8 Atk for 127.7 Def (Rank 2 GFisk)
            * You can thrift on Def, just be cautious about sinking below 117.58

        For Azu Slayer

           * Ranks 67 & 68 have notable bulk
           * >105.8 Atk can get Charge Move Priority on Medicham which can be significant
               * 169 HP or 168 HP + >118.75 Def have higher Medicham 2-2 consistency
           * >106 Atk gets the GFisk Breakpoint on the Rank 3 (0/15/11) (the highest reasonably Def weighted GFisk)

        For A9 Slayer

           * Enables the 2-2 vs nearly all Alolan Nineales
               * 138.9 Def weights will require >107 Atk
           * The Top 5 of the group have bulk balanced to the 0-0 mirror & potentially the Venusaur 0-1
           * The 2/0/15 can also 2-1 Tapu Fini
               * The Alolan Ninetales flip can also be achieved with high enough Def, but given the wide Atk Range of Alolan Ninetales + the HP drop, the high HP low Def versions are generally more useful

## Great League

### Slight Atk

Empty DataFrame
Columns: [CP, max CP, level, attack, defense, stamina, a, d, s, statprod]
Index: []

### Azu Slayer

,CP,max CP,level,attack,defense,stamina,a,d,s,statprod
4,96,1500,28.0,105.325746,120.170314,168,4.0,14.0,14.0,2126380
11,383,1500,28.0,106.032630,118.049661,169,5.0,11.0,15.0,2115392
3,330,1493,28.0,105.325746,119.463430,168,4.0,13.0,13.0,2113872

### A9 Slayer

Empty DataFrame
Columns: [CP, max CP, level, attack, defense, stamina, a, d, s, statprod]
Index: []

## Ultra League

In [18]:
pvprankings.display_rs_info(df,'Dunsparce')

# Dunsparces you have, according to the Swag Man

Check out the article [here](https://gamepress.gg/pokemongo/dunsparce-pvp-iv-deep-dive)!

Check out the videos: [here](https://www.youtube.com/watch?v=ZiZEbDqMur0)!

Extra Tips: Cares ONLY about bulk, not about Atk at all

## Great League

### Basic Bulk

,CP,max CP,level,attack,defense,stamina,a,d,s,statprod
0,997,1496,39.0,104.356721,110.633817,185,2.0,13.0,12.0,2135895

### Premium Bulk

Empty DataFrame
Columns: [CP, max CP, level, attack, defense, stamina, a, d, s, statprod]
Index: []

## Ultra League

In [19]:
# Write things out as a CSV
import csv
import sys
cols = "Mon	Article	Video1	Video2	Video3	ExtraInfo	League	Description	Atk	Def	HP	TopN".split()
csvfile = open('swag.csv','w',newline='')
writer = csv.DictWriter(csvfile,fieldnames=cols)
writer.writeheader()
##print(','.join(cols))
mons = list(pvprankings.RS_INFO.keys())
mons.sort()
for (i,mon) in enumerate(mons):
    if mon == 'Bogus':
        continue
    ## Basic info line
    info = pvprankings.RS_INFO[mon]
    for k in 'article','extrainfo':
        if k not in info:
            info[k] = ''
    # Videos is a bit different
    video1,video2,video3 = '','',''
    if 'videos' in info and info['videos']:
        videos = info['videos']
        video1 = videos[0]
        if len(videos) > 1:
            video2 = videos[1]
        if len(videos) > 2:
            video3 = videos[2]
        if len(videos) > 3:
            raise Exception(f'Time to add more videos! {videos}')
    ##print(f"{mon},{info['article']},{video1},{video2},{video3},{info['extrainfo']}")
    writer.writerow({'Mon':mon,'Article':info['article'],'Video1':video1,'Video2':video2,'Video3':video3,'ExtraInfo':info['extrainfo'],'League':'',
                             'Description':'','Atk':'','Def':'','HP':'','TopN':''})
    # Now a line for each set of breakpoints
    for league in info:
        if league not in ('Great','Ultra','Master'):
            continue
        # Need something that actually writes out CSV because the description and extra info definitely has commas.
        for description in info[league]:
            swag = info[league][description]
            article,video1,video2,video3,extrainfo = '','','','',''
            topN = swag.get('onlytop','')
            ##print(f"{mon},{article},{video1},{video2},{video3},{extrainfo},{league},{description},{swag['attack']},{swag['defense']},{swag['hp']},{topN}")
            writer.writerow({'Mon':mon,'Article':article,'Video1':video1,'Video2':video2,'Video3':video3,'ExtraInfo':extrainfo,'League':league,
                             'Description':description,'Atk':swag['attack'],'Def':swag['defense'],'HP':swag['hp'],'TopN':topN})
    if i > 1:
        #break
        continue
    # One line for each league
    #break

In [3]:
import csv

,Jumpluff,Walrein,Deoxys (Defense),Venusaur,Dewgong,Sandslash,Sandslash (Alolan),Whimsicott,Swampert,Registeel,...,Trevenant,Noctowl,Chesnaught,Altaria,Cofagrigus,Runerigus,Slowbro,Slowbro (Galarian),Slowking (Galarian),Bogus
Great,"{'Top 12 amazing stat product': {'attack': 0, ...","{'GOD TIER': {'attack': 114.46, 'defense': 114...","{'Best you can get are here, but watch the act...","{'Froslass Slayer + OK Def': {'attack': 122.5,...","{'Max Def Umbreon, Dewgong, most Mew, weather ...","{'RS says this': {'attack': 121, 'defense': 12...","{'High Attack': {'attack': 115.31, 'defense': ...","{'Moderate attack weight': {'attack': 121.26, ...","{'Def': {'attack': 0, 'defense': 110, 'hp': 0}...","{'Raid Only 186.7 Def 127 HP': {'attack': 0, '...",...,"{'Best': {'attack': 124, 'defense': 105.8, 'hp...","{'Slight Atk': {'attack': 104.23, 'defense': 1...","{'Bulk focus 122.21 def, 127 hp': {'attack': 0...","{'The Trevenant Slayer (102.97 Atk, 149.02 Def...","{'': {'attack': 109, 'defense': 162, 'hp': 106...","{'': {'attack': 109, 'defense': 162, 'hp': 106...","{'118.4 Def, 144 HP': {'attack': 0, 'defense':...",{'Galarian Slowbro Generalist/Mirror 118.48 At...,"{'Galarian Slowking Mirror Slayer 116.7 Atk, 1...","{'': {'attack': 102.97, 'defense': 149.02, 'hp..."
article,NaN,https://gamepress.gg/pokemongo/walrein-pvp-iv-...,https://gamepress.gg/pokemongo/deoxys-defense-...,https://gamepress.gg/pokemongo/venusaur-pvp-iv...,https://gamepress.gg/pokemongo/dewgong-pvp-iv-...,https://gamepress.gg/pokemongo/alolan-sandslas...,https://gamepress.gg/pokemongo/alolan-sandslas...,https://gamepress.gg/pokemongo/whimsicott-pvp-...,,https://gamepress.gg/pokemongo/registeel-pvp-i...,...,https://gamepress.gg/pokemongo/trevenant-pvp-i...,https://gamepress.gg/pokemongo/noctowl-pvp-iv-...,https://gamepress.gg/pokemongo/chesnaught-pvp-...,https://gamepress.gg/pokemongo/altaria-pvp-iv-...,https://gamepress.gg/pokemongo/cofagrigus-pvp-...,https://gamepress.gg/pokemongo/cofagrigus-pvp-...,https://gamepress.gg/pokemongo/slowpoke-family...,https://gamepress.gg/pokemongo/slowpoke-family...,https://gamepress.gg/pokemongo/slowpoke-family...,
videos,NaN,"(https://www.youtube.com/watch?v=yJUjtPAPkEM,)","(https://www.youtube.com/watch?v=p-UrAQDrvTQ,)",NaN,"(https://www.youtube.com/watch?v=u_eDH5HNg1M,)","(https://www.youtube.com/watch?v=o3e84ZurZ0o,)","(https://www.youtube.com/watch?v=o3e84ZurZ0o,)","(https://www.youtube.com/watch?v=kJUjufO4YXA,)","(,)","(https://www.youtube.com/watch?v=C66Ud9me-tg, ...",...,(https://www.youtube.com/watch?v=-02-DBdvGJk&t...,(https://www.youtube.com/watch?v=sdagO7Z8p6w&t...,"(,)","(,)","(,)","(,)","(,)","(,)","(,)","(,)"
extrainfo,NaN,"For the HP, 151 covers the majority of pertine...","For GL, the SwagMan wants the rank 67>77>22 (1...",NaN,"If you have to choose, favor higher def over h...","Breakpoints are less important here, you reall...","Breakpoints are less important here, you reall...",Article is quite detailed.,No good deep dive,Oof. Raid IVs.,...,"\nFor great, high def and min HP are most valu...",\n People use slight atk and azu slayer...,\nThe tables below feature the IV spreads that...,\n \n\nThe Trevenant Slayer (102.97 Atk...,\n rank 1 or 2 way better\n,\n rank 1 or 2 way better\n,"\nSlowbro & Slowking 118.4 Def, 144 HP\n\n ...",\nGalarian Slowbro Generalist/Mirror 118.48 At...,\nGalarian Slowbro Generalist/Mirror 118.48 At...,\n
Ultra,NaN,"{'Mirror slayer HP': {'attack': 145.28, 'defen...","{'BB umbreon': {'attack': 132.81, 'defense': 2...","{'Galar Stunfisk Slayer': {'attack': 159.2, 'd...",NaN,NaN,"{'149.14 atk 173.07 def': {'attack': 149.14, '...",NaN,NaN,"{'Raid Only 240.5 Def 165 HP': {'attack': 0, '...",...,"{'Atk': {'attack': 168.7, 'defense': 129, 'hp'...",NaN,NaN,NaN,"{'': {'attack': 145.21, 'defense': 208, 'hp': ...","{'': {'attack': 145.21, 'defense': 208, 'hp': ...",NaN,NaN,NaN,"{'': {'attack': 102.97, 'defense': 149.02, 'hp..."
Master,NaN,"{'Obviously the best': {'attack': 15, 'defense...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN