# TODO:

* Factor this
* Put it into the real python code so we can quiz people about battle outcomes (which need actual damage done)
* This code disagrees with pvpivs for the stat product, and it's because of floating point differences. The relative rankings will be the same.
* Put something in that makes it easier to switch between level 50 and level 40 as max

So far, I've put in at least some info on the following mons:

* Walrein
* Venusaur
* Swampert
* Jumpluff
* Deoxys (Defense)
* Dewgong
* Sandslash
* Whimsicott
* Registeel
* Azumarill
* Araquanid
* Golem
* Marowak
* Obstagoon
* Linoone (Galarian)
* Medicham
* Dunsparce
* Stunfisk (Galarian)
* Lickitung
* Toxapex
* Toxicroak
* Trevenant

You run the below cells, and then replace e.g. 'Trevenant' with the mon you're interested in

It shows you all of the relevant things that are Trevenant ... or that you can evolve to Trevenant.

In [5]:
import imp
import pvprankings
import pandas as pd
imp.reload(pvprankings)
df = pd.read_csv('poke_genie_export.csv')

In [31]:
pvprankings.display_rs_info(df,'Obstagoon')

# Obstagoons you have, according to the Swag Man

Check out the article [here](https://gamepress.gg/pokemongo/obstagoon-pvp-iv-deep-dive)!

Check out the videos: [here](https://www.youtube.com/watch?v=XEygOnJDnlY)!

Extra Tips: You want three of each league, one with obstruct and one without, and one with high bulk. Also, this does not filter for galarian zig/lin; you have to do that yourself.
 For UL you really want 148+ attack, then 172 HP

## Great League

### Super Premium Atk

Empty DataFrame
Columns: [CP, max CP, level, attack, defense, stamina, a, d, s, statprod]
Index: []

### Premium Atk (115.5 Atk slightly better, 123.56 Def 137 HP better)

,CP,max CP,level,attack,defense,stamina,a,d,s,statprod
25,1500,1500,22.0,115.288346,124.060286,136,4.0,4.0,6.0,1945167
12,199,1496,20.5,115.521320,123.384028,136,11.0,10.0,13.0,1938474
26,1500,1500,20.0,115.895600,123.661800,135,14.0,13.0,15.0,1934800
27,1493,1493,20.0,115.298200,123.661800,135,13.0,13.0,15.0,1924827

### Bulk focus

,CP,max CP,level,attack,defense,stamina,a,d,s,statprod
20,10,1482,21.5,111.492742,126.358441,139,0.0,10.0,14.0,1958238

## Ultra League

### Unicorn

Empty DataFrame
Columns: [CP, max CP, level, attack, defense, stamina, a, d, s, statprod]
Index: []

### Bare minimum

,CP,max CP,level,attack,defense,stamina,a,d,s,statprod
19,19,2495,40.5,148.254342,161.732009,175,7.0,10.0,9.0,4196057
11,205,2500,37.5,149.004473,159.869382,176,12.0,12.0,15.0,4192540
25,1500,2494,43.5,148.635200,159.944400,176,4.0,4.0,6.0,4184112
7,268,2499,38.0,148.776155,159.681214,176,11.0,11.0,15.0,4181189
18,67,2490,41.5,148.390803,155.571003,181,6.0,1.0,15.0,4178440
6,277,2494,37.0,148.451808,160.822792,175,12.0,14.0,15.0,4178025
24,2188,2493,42.0,148.055500,164.061500,172,5.0,11.0,4.0,4177915
23,2496,2496,37.0,149.224995,161.595979,173,13.0,15.0,12.0,4171749
9,259,2495,37.5,149.004473,159.869382,175,12.0,12.0,14.0,4168719
30,1117,2495,37.0,149.224995,159.276419,175,13.0,12.0,15.0,4159403
26,1500,2495,36.5,149.437670,159.451534,174,14.0,13.0,15.0,4146083
12,199,2482,38.0,148.776155,158.902281,175,11.0,10.0,13.0,4137152
15,81,2490,36.5,150.207967,157.910939,174,15.0,11.0,14.0,4127189
27,1493,2482,36.5,148.667372,159.451534,174,13.0,13.0,15.0,4124711
4,286,2483,36.0,149.642448,158.851214,173,15.0,13.0,14.0,4112363
17,30,2496,43.0,151.396400,157.838800,172,8.0,2.0,2.0,4110150
13,171,2495,41.0,151.902302,154.288202,174,11.0,0.0,8.0,4077991

### General Atk

      CP  max CP  level    attack   defense  stamina    a     d    s  statprod
24  2188    2493   42.0  148.0555  164.0615      172  5.0  11.0  4.0   4177915

### General Atk+

      CP  max CP  level    attack   defense  stamina    a     d    s  statprod
24  2188    2493   42.0  148.0555  164.0615      172  5.0  11.0  4.0   4177915

### Mirror Focus

,CP,max CP,level,attack,defense,stamina,a,d,s,statprod
23,2496,2496,37.0,149.224995,161.595979,173,13.0,15.0,12.0,4171749
30,1117,2495,37.0,149.224995,159.276419,175,13.0,12.0,15.0,4159403
26,1500,2495,36.5,149.437670,159.451534,174,14.0,13.0,15.0,4146083
15,81,2490,36.5,150.207967,157.910939,174,15.0,11.0,14.0,4127189
4,286,2483,36.0,149.642448,158.851214,173,15.0,13.0,14.0,4112363
17,30,2496,43.0,151.396400,157.838800,172,8.0,2.0,2.0,4110150
13,171,2495,41.0,151.902302,154.288202,174,11.0,0.0,8.0,4077991

### Bulk Focus

Empty DataFrame
Columns: [CP, max CP, level, attack, defense, stamina, a, d, s, statprod]
Index: []

In [6]:
pvprankings.display_rs_info(df,'Chesnaught')

# Chesnaughts you have, according to the Swag Man

Check out the article [here](https://gamepress.gg/pokemongo/chesnaught-pvp-iv-deep-dive)!

Check out the videos: [here]()!

Extra Tips:
The tables below feature the IV spreads that meet some of the more important stat checks highlighted in the article. It’s important to review the guide itself to make sure you’re getting what you want out of your Chesnaught. For example, you may want a slightly higher Def or HP weight for more consistency.

Bulk Focus (122.21 Def, 127 HP)

    * 129 HP can potentially 1-0 Pelipper
    * The Rank 1 can 0-1 some low Atk Galarian Stunfisk with only Frenzy Plant
    * ~119.35 Atk can 0-1 & 1-1 Scrafty more consistently

Froslass Slayer (121.89 Atk, 117.7 Def, 125 HP)

    * Generally Def>Atk=HP

Froslass Slayer, Def focus (121.89 Atk, 122.21 Def, 122 HP)

    * The 6/3/5 is also viable, but pushes it

## Great League

### Bulk focus 122.21 def, 127 hp

,CP,max CP,level,attack,defense,stamina,a,d,s,statprod
91,13,1492,19.5,118.567469,123.286573,128,0.0,5.0,14.0,1871075

### frosslass slayer 121.89 atk, 117.7 def, 125 hp

,CP,max CP,level,attack,defense,stamina,a,d,s,statprod
4,14,1497,18.5,122.383225,118.935811,125,12.0,3.0,15.0,1819468

### frosslass slayer, def focus (121.89 atk, 122.21 eef, 122 hp

Empty DataFrame
Columns: [CP, max CP, level, attack, defense, stamina, a, d, s, statprod]
Index: []

## Ultra League

In [4]:
pvprankings.display_rs_info(df,'Venusaur')

# Venusaurs you have, according to the Swag Man

Check out the article [here](https://gamepress.gg/pokemongo/venusaur-pvp-iv-deep-dive)!

## Great League

### Froslass Slayer + OK Def

,CP,max CP,level,attack,defense,stamina,a,d,s,statprod
20,570,1488,20.5,123.384028,118.545438,122,6.0,7.0,13.0,1784446

### Froslass Slayer + Big Def

Empty DataFrame
Columns: [CP, max CP, level, attack, defense, stamina, a, d, s, statprod]
Index: []

### Big Bulk

Empty DataFrame
Columns: [CP, max CP, level, attack, defense, stamina, a, d, s, statprod]
Index: []

### Shadow big bulk

Empty DataFrame
Columns: [CP, max CP, level, attack, defense, stamina, a, d, s, statprod]
Index: []

## Ultra League

### Galar Stunfisk Slayer

,CP,max CP,level,attack,defense,stamina,a,d,s,statprod
10,208,2494,42.5,159.757199,158.151599,154,1.0,8.0,2.0,3890941
23,934,2498,39.5,160.644616,158.282195,152,6.0,12.0,4.0,3864931
11,203,2486,43.5,159.944400,157.521000,153,0.0,6.0,0.0,3854774

### Huge Defense

Empty DataFrame
Columns: [CP, max CP, level, attack, defense, stamina, a, d, s, statprod]
Index: []

### As good as Rank 1 Bulk

Empty DataFrame
Columns: [CP, max CP, level, attack, defense, stamina, a, d, s, statprod]
Index: []

### Shadow General Blend

Empty DataFrame
Columns: [CP, max CP, level, attack, defense, stamina, a, d, s, statprod]
Index: []

In [5]:
pvprankings.display_rs_info(df,'Swampert')

# Swamperts you have, according to the Swag Man

Check out the article [here]()!

Check out the videos: [here]()!

Extra Tips: No good deep dive

## Great League

### Def

,CP,max CP,level,attack,defense,stamina,a,d,s,statprod
27,44,1496,19.0,124.025406,110.632991,131,5.0,15.0,1.0,1797490

### Atk

,CP,max CP,level,attack,defense,stamina,a,d,s,statprod
15,255,1498,19.0,121.696290,108.886154,139,1.0,12.0,14.0,1841894
65,398,1497,19.0,121.696290,108.303875,139,1.0,11.0,15.0,1832044
17,396,1491,19.0,121.696290,108.886154,138,1.0,12.0,12.0,1828643
78,253,1491,19.0,121.696290,108.886154,138,1.0,12.0,12.0,1828643
114,763,1499,18.5,122.957795,109.168135,136,6.0,15.0,12.0,1825537
13,215,1496,19.5,122.696685,109.129263,136,0.0,10.0,6.0,1821012
88,158,1500,19.5,123.286573,109.129263,135,1.0,10.0,5.0,1816313
83,222,1486,19.0,122.278569,109.468433,135,2.0,13.0,7.0,1807061
118,1486,1486,19.0,122.278569,109.468433,135,2.0,13.0,7.0,1807061
86,194,1496,19.0,124.025406,108.303875,134,5.0,11.0,6.0,1799945
27,44,1496,19.0,124.025406,110.632991,131,5.0,15.0,1.0,1797490
119,1044,1486,18.5,124.106933,108.593566,132,8.0,14.0,5.0,1778992
115,613,1486,18.5,124.106933,108.593566,132,8.0,14.0,5.0,1778992
5,220,1477,19.0,124.025406,108.303875,131,5.0,11.0,0.0,1759648
66,386,1466,19.0,122.278569,108.886154,132,2.0,12.0,2.0,1757506
71,330,1464,19.0,122.278569,109.468433,131,2.0,13.0,0.0,1753519
69,353,1486,18.5,125.830640,108.018997,129,11.0,13.0,0.0,1753380
56,464,1472,18.5,122.957795,108.018997,132,6.0,13.0,6.0,1753194
12,199,1479,18.5,124.681502,108.018997,130,9.0,13.0,2.0,1750836
59,435,1473,18.5,124.681502,108.018997,129,9.0,13.0,0.0,1737368

## Ultra League

In [32]:
pvprankings.display_rs_info(df,'Linoone (Galarian)')

# Linoone (Galarian)s you have, according to the Swag Man

Check out the article [here](https://twitter.com/SwgTips/status/1558892455017185280)!

Check out the videos: [here]()!

Extra Tips: Still bad right now.

## Great League

### Swamp/cash

,CP,max CP,level,attack,defense,stamina,a,d,s,statprod
20,10,1492,41.0,112.932601,109.751401,159,0.0,10.0,14.0,1970727
5,284,1494,39.0,112.987728,111.418454,156,2.0,14.0,14.0,1963871
22,1083,1494,39.0,114.557002,109.064543,156,4.0,11.0,13.0,1949080
21,1327,1493,37.5,114.857614,109.425160,154,6.0,13.0,13.0,1935520
10,213,1493,39.5,114.971147,107.096411,157,4.0,8.0,14.0,1933140
0,383,1491,39.5,114.971147,111.821252,150,4.0,14.0,5.0,1928432
3,315,1492,38.5,114.923138,111.795978,150,5.0,15.0,7.0,1927191
8,267,1495,35.5,116.201882,107.792535,153,10.0,13.0,15.0,1916431
11,205,1498,35.0,117.280831,106.618938,153,12.0,12.0,15.0,1913166
2,339,1500,38.0,116.839912,111.387383,147,8.0,15.0,4.0,1913130
6,277,1497,34.5,116.829077,107.725512,152,12.0,14.0,15.0,1912991
14,90,1493,41.0,116.113801,108.956101,151,4.0,9.0,5.0,1910347
19,19,1493,38.5,116.486718,107.887028,152,7.0,10.0,9.0,1910245
18,67,1497,40.5,117.334987,102.271712,159,6.0,1.0,15.0,1908007
7,268,1494,35.5,116.966368,106.263563,153,11.0,11.0,15.0,1901677
9,259,1494,35.0,117.280831,106.618938,152,12.0,12.0,14.0,1900662
12,199,1493,36.0,117.411767,105.900809,152,11.0,10.0,13.0,1889968
16,71,1498,39.0,118.480187,109.064543,146,9.0,11.0,1.0,1886610
15,81,1494,34.0,118.642623,105.040284,151,15.0,11.0,14.0,1881800
4,286,1493,33.5,118.178467,106.134801,150,15.0,13.0,14.0,1881427
17,30,1492,41.5,119.670002,103.714002,149,8.0,2.0,2.0,1849306
13,171,1495,39.5,120.483462,100.796622,152,11.0,0.0,8.0,1845937
1,343,1497,40.0,122.496500,101.158400,147,13.0,0.0,1.0,1821557

### Drap/A9 CMP

,CP,max CP,level,attack,defense,stamina,a,d,s,statprod
22,1083,1494,39.0,114.557002,109.064543,156,4.0,11.0,13.0,1949080
21,1327,1493,37.5,114.857614,109.425160,154,6.0,13.0,13.0,1935520
10,213,1493,39.5,114.971147,107.096411,157,4.0,8.0,14.0,1933140
0,383,1491,39.5,114.971147,111.821252,150,4.0,14.0,5.0,1928432
3,315,1492,38.5,114.923138,111.795978,150,5.0,15.0,7.0,1927191
8,267,1495,35.5,116.201882,107.792535,153,10.0,13.0,15.0,1916431
11,205,1498,35.0,117.280831,106.618938,153,12.0,12.0,15.0,1913166
2,339,1500,38.0,116.839912,111.387383,147,8.0,15.0,4.0,1913130
6,277,1497,34.5,116.829077,107.725512,152,12.0,14.0,15.0,1912991
14,90,1493,41.0,116.113801,108.956101,151,4.0,9.0,5.0,1910347
19,19,1493,38.5,116.486718,107.887028,152,7.0,10.0,9.0,1910245
18,67,1497,40.5,117.334987,102.271712,159,6.0,1.0,15.0,1908007
7,268,1494,35.5,116.966368,106.263563,153,11.0,11.0,15.0,1901677
9,259,1494,35.0,117.280831,106.618938,152,12.0,12.0,14.0,1900662
12,199,1493,36.0,117.411767,105.900809,152,11.0,10.0,13.0,1889968
16,71,1498,39.0,118.480187,109.064543,146,9.0,11.0,1.0,1886610
15,81,1494,34.0,118.642623,105.040284,151,15.0,11.0,14.0,1881800
4,286,1493,33.5,118.178467,106.134801,150,15.0,13.0,14.0,1881427
17,30,1492,41.5,119.670002,103.714002,149,8.0,2.0,2.0,1849306
13,171,1495,39.5,120.483462,100.796622,152,11.0,0.0,8.0,1845937
1,343,1497,40.0,122.496500,101.158400,147,13.0,0.0,1.0,1821557

### Diggers

,CP,max CP,level,attack,defense,stamina,a,d,s,statprod
5,284,1494,39.0,112.987728,111.418454,156,2.0,14.0,14.0,1963871
0,383,1491,39.5,114.971147,111.821252,150,4.0,14.0,5.0,1928432
3,315,1492,38.5,114.923138,111.795978,150,5.0,15.0,7.0,1927191
2,339,1500,38.0,116.839912,111.387383,147,8.0,15.0,4.0,1913130

### SwagAtk FS Awak

,CP,max CP,level,attack,defense,stamina,a,d,s,statprod
5,284,1494,39.0,112.987728,111.418454,156,2.0,14.0,14.0,1963871
0,383,1491,39.5,114.971147,111.821252,150,4.0,14.0,5.0,1928432
3,315,1492,38.5,114.923138,111.795978,150,5.0,15.0,7.0,1927191
2,339,1500,38.0,116.839912,111.387383,147,8.0,15.0,4.0,1913130

### Best

,CP,max CP,level,attack,defense,stamina,a,d,s,statprod
0,383,1491,39.5,114.971147,111.821252,150,4.0,14.0,5.0,1928432
3,315,1492,38.5,114.923138,111.795978,150,5.0,15.0,7.0,1927191
2,339,1500,38.0,116.839912,111.387383,147,8.0,15.0,4.0,1913130

## Ultra League

In [16]:
pvprankings.display_rs_info(df,'Toxapex')

# Toxapexs you have, according to the Swag Man

Check out the article [here](https://gamepress.gg/pokemongo/toxapex-pvp-iv-deep-dive)!

Check out the videos: [here](https://www.youtube.com/watch?v=7ZiNZvY8uXs)!

Extra Tips:

        High Bulk:
        * For tie-breakers, generally HP > Def
        * If you fear Swampert, 227.82+ Def is important
        * If you hate Venusaur & Jumpluff, 91+ Atk is important

        Mirror Slayer
        * If you hate Venusaur & Jumpluff, 91+ Atk is important

        Lickitung Slayer
        * Rank 1 and 2 Best Buddy Lickitung require 94.13 Atk

        Which IV is best? See the article. But Rank 1 is great, Ranks 2 and 3 get CMP over things, ranks 4 and 9 do better against swampert, etc.

## Great League

### High Bulk (226.73 Def, 118 HP)

,CP,max CP,level,attack,defense,stamina,a,d,s,statprod
3,380,1498,41.5,90.949202,229.766404,118,0.0,15.0,11.0,2465854
55,1498,1498,41.5,90.949202,229.766404,118,0.0,15.0,11.0,2465854

### Mirror Slayer/Big HP (219 Def, 121 HP)

Empty DataFrame
Columns: [CP, max CP, level, attack, defense, stamina, a, d, s, statprod]
Index: []

### Lickitung Slayer (93 Atk, 118 HP)

,CP,max CP,level,attack,defense,stamina,a,d,s,statprod
1,461,1495,38.5,93.033017,217.337635,118,5.0,5.0,15.0,2385909

## Ultra League

In [17]:
pvprankings.display_rs_info(df,'Lickitung')

# Lickitungs you have, according to the Swag Man

Check out the article [here](https://gamepress.gg/pokemongo/lickitung-pvp-iv-deep-dive)!

Check out the videos: [here]()!

Extra Tips: General Good is minimum bulk for "good" lickitung.
Atk focus: Potentiates Registeel and Shadow Walrein Breakpoints without giving up too much bulk, 126.2 Def, 126.58 Def, and 184 HP are notable stat checks, Priority Recommendation 126.2 Def=184 HP>185+ HP=126.58 Def
Budget Boi: This budget list is for players who’ve already built a Lickitung and are wondering if they should build twice (or for players looking to save ~94 XL Candy), If you meet at least 125.1 Def and 181 HP, building a better Lickitung might not be worth it compared to other projects

## Great League

### General Good (125.94 def, 183 hp)

Empty DataFrame
Columns: [CP, max CP, level, attack, defense, stamina, a, d, s, statprod]
Index: []

### Atk Focus (97.7 Atk, 125.94 def, 183 hp)

Empty DataFrame
Columns: [CP, max CP, level, attack, defense, stamina, a, d, s, statprod]
Index: []

### Budget Bois (97 Atk, 125.1 def, 181 hp)

,CP,max CP,level,attack,defense,stamina,a,d,s,statprod
3,720,1499,50.0,99.155399,126.044999,181,10.0,13.0,9.0,2262145
6,1147,1495,49.0,98.565399,125.294999,183,10.0,13.0,13.0,2260004
0,477,1470,51.0,97.209499,125.949699,181,7.0,12.0,8.0,2216074

## Ultra League

In [12]:
pvprankings.display_rs_info(df,'Noctowl')

# Noctowls you have, according to the Swag Man

Check out the article [here](https://gamepress.gg/pokemongo/noctowl-pvp-iv-deep-dive)!

Check out the videos: [here](https://www.youtube.com/watch?v=sdagO7Z8p6w&t=85s)!

Extra Tips:
        People use slight atk and azu slayer primarily. not a9 slayer.

        For Atk:

            * Rank 24 >= Rank 4 > Rank 40/41 > All else
            * 104.8 Atk for 127.7 Def (Rank 2 GFisk)
            * You can thrift on Def, just be cautious about sinking below 117.58

        For Azu Slayer

           * Ranks 67 & 68 have notable bulk
           * >105.8 Atk can get Charge Move Priority on Medicham which can be significant
               * 169 HP or 168 HP + >118.75 Def have higher Medicham 2-2 consistency
           * >106 Atk gets the GFisk Breakpoint on the Rank 3 (0/15/11) (the highest reasonably Def weighted GFisk)

        For A9 Slayer

           * Enables the 2-2 vs nearly all Alolan Nineales
               * 138.9 Def weights will require >107 Atk
           * The Top 5 of the group have bulk balanced to the 0-0 mirror & potentially the Venusaur 0-1
           * The 2/0/15 can also 2-1 Tapu Fini
               * The Alolan Ninetales flip can also be achieved with high enough Def, but given the wide Atk Range of Alolan Ninetales + the HP drop, the high HP low Def versions are generally more useful

## Great League

### Slight Atk

Empty DataFrame
Columns: [CP, max CP, level, attack, defense, stamina, a, d, s, statprod]
Index: []

### Azu Slayer

,CP,max CP,level,attack,defense,stamina,a,d,s,statprod
4,96,1500,28.0,105.325746,120.170314,168,4.0,14.0,14.0,2126380
11,383,1500,28.0,106.032630,118.049661,169,5.0,11.0,15.0,2115392
3,330,1493,28.0,105.325746,119.463430,168,4.0,13.0,13.0,2113872

### A9 Slayer

Empty DataFrame
Columns: [CP, max CP, level, attack, defense, stamina, a, d, s, statprod]
Index: []

## Ultra League

In [18]:
pvprankings.display_rs_info(df,'Dunsparce')

# Dunsparces you have, according to the Swag Man

Check out the article [here](https://gamepress.gg/pokemongo/dunsparce-pvp-iv-deep-dive)!

Check out the videos: [here](https://www.youtube.com/watch?v=ZiZEbDqMur0)!

Extra Tips: Cares ONLY about bulk, not about Atk at all

## Great League

### Basic Bulk

,CP,max CP,level,attack,defense,stamina,a,d,s,statprod
0,997,1496,39.0,104.356721,110.633817,185,2.0,13.0,12.0,2135895

### Premium Bulk

Empty DataFrame
Columns: [CP, max CP, level, attack, defense, stamina, a, d, s, statprod]
Index: []

## Ultra League